Repository xavierheitor/nexa-oper: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

correção do status multipplo de loading
  apps/web/src/app/dashboard/historico/page.tsx
  apps/web/src/app/dashboard/relatorios/bases/components/ComparacaoEntreBases.tsx
  apps/web/src/app/dashboard/relatorios/bases/components/ConsolidacaoPorBase.tsx
  apps/web/src/app/dashboard/relatorios/bases/page.tsx
  apps/web/src/lib/hooks/useLoadingStates.ts
Due: none

melhorias de codigo, memoizing
  apps/web/src/app/dashboard/cadastro/apr-modelo/page.tsx
  apps/web/src/app/dashboard/cadastro/eletricista/page.tsx
  apps/web/src/app/dashboard/cadastro/equipe-horario/form.tsx
  apps/web/src/app/dashboard/cadastro/escala-equipe-periodo/page.tsx
  apps/web/src/app/dashboard/cadastro/supervisor/page.tsx
  apps/web/src/app/dashboard/frequencia/faltas/page.tsx
  apps/web/src/app/dashboard/frequencia/horas-extras/page.tsx
  apps/web/src/app/dashboard/relatorios/bases/components/ComparacaoEntreBases.tsx
  apps/web/src/app/dashboard/relatorios/bases/components/ConsolidacaoPorBase.tsx
  apps/web/src/app/dashboard/relatorios/bases/page.tsx
  apps/web/src/app/dashboard/relatorios/eletricistas/components/EletricistasDetalhado.tsx
  apps/web/src/app/dashboard/relatorios/eletricistas/components/EletricistasPorLotacao.tsx
  apps/web/src/app/dashboard/relatorios/eletricistas/components/EletricistasPorTipoEquipe.tsx
  apps/web/src/app/dashboard/relatorios/eletricistas/page.tsx
  apps/web/src/app/dashboard/relatorios/equipes/components/EquipesEscaladas.tsx
  apps/web/src/app/dashboard/relatorios/equipes/components/EquipesPorHorario.tsx
  apps/web/src/app/dashboard/relatorios/equipes/components/EquipesSemHorario.tsx
  apps/web/src/app/dashboard/relatorios/equipes/page.tsx
  apps/web/src/app/dashboard/relatorios/escalas/components/ComparacaoFolgaTrabalho.tsx
  apps/web/src/app/dashboard/relatorios/escalas/components/DiasTrabalhadosPorEletricista.tsx
  apps/web/src/app/dashboard/relatorios/escalas/components/FaltasPorPeriodo.tsx
  apps/web/src/app/dashboard/relatorios/escalas/page.tsx
  apps/web/src/app/dashboard/relatorios/veiculos/components/VeiculosPorLotacao.tsx
  apps/web/src/app/dashboard/relatorios/veiculos/components/VeiculosPorMarca.tsx
  apps/web/src/app/dashboard/relatorios/veiculos/components/VeiculosPorTipo.tsx
  apps/web/src/app/dashboard/relatorios/veiculos/page.tsx
  apps/web/src/app/dashboard/turnos/page.tsx
  apps/web/src/lib/repositories/CargoRepository.ts
  apps/web/src/lib/repositories/escala/EquipeHorarioVigenciaRepository.ts
  apps/web/src/lib/repositories/escala/EquipeTurnoHistoricoRepository.ts
  apps/web/src/lib/repositories/escala/EscalaEquipePeriodoRepository.ts
  apps/web/src/lib/repositories/escala/HorarioAberturaCatalogoRepository.ts
  apps/web/src/lib/repositories/escala/TipoEscalaRepository.ts
  apps/web/src/lib/services/CargoService.ts
  apps/web/src/ui/components/ChecklistSelectorModal.tsx
  apps/web/src/ui/components/ChecklistViewerModal.tsx
  apps/web/src/ui/components/FaltaTable.tsx
  apps/web/src/ui/components/HoraExtraTable.tsx
Due: none

correção de erros
  apps/web/src/app/dashboard/relatorios/bases/components/ComparacaoEntreBases.tsx
  apps/web/src/lib/hooks/useDataFetch.ts
Due: none

padronização do tratamento de erros
  apps/web/ANALISE_CODIGO.md
  apps/web/src/lib/hooks/useCrudController.ts
  apps/web/src/lib/utils/errorHandler.ts
Due: prettier --write

implementação de loging remoto
  apps/api/src/app.module.ts
  apps/api/src/modules/web-logs/dto/web-log.dto.ts
  apps/api/src/modules/web-logs/web-logs.controller.ts
  apps/api/src/modules/web-logs/web-logs.module.ts
  apps/api/src/modules/web-logs/web-logs.service.ts
  apps/web/src/lib/utils/README_ERROR_HANDLER.md
  apps/web/src/lib/utils/errorHandler.ts
Due: eslint --fix, prettier --write

padronização do tratamento de erros
  apps/web/ANALISE_PADRONIZACAO_ERROS.md
  apps/web/src/app/dashboard/cadastro/eletricista/form.tsx
  apps/web/src/app/login/page.tsx
  apps/web/src/lib/actions/checklist/getByTurno.ts
  apps/web/src/lib/actions/common/actionHandler.ts
  apps/web/src/lib/actions/relatorios/relatoriosBases.ts
  apps/web/src/lib/actions/test/test.ts
  apps/web/src/lib/actions/turno/getStatsByBase.ts
  apps/web/src/lib/actions/turno/getStatsByHora.ts
  apps/web/src/lib/actions/turno/getStatsByHoraETipoEquipe.ts
  apps/web/src/lib/actions/turno/getStatsByTipoEquipe.ts
  apps/web/src/lib/utils/logger.ts
Due: prettier --write

corrigido problema de n+1 queries
  apps/web/ANALISE_PRODUCAO.md
  apps/web/src/lib/actions/checklist/getByTurno.ts
  apps/web/src/lib/actions/escala/visualizacaoGeral.ts
  apps/web/src/lib/actions/turno/getStatsByBase.ts
  apps/web/src/lib/actions/turno/getStatsByHora.ts
  apps/web/src/lib/actions/turno/getStatsByHoraETipoEquipe.ts
  apps/web/src/lib/actions/turno/getStatsByTipoEquipe.ts
  apps/web/src/lib/utils/checklistPhotoFormatter.ts
  apps/web/src/lib/utils/dateHelpers.ts
Due: prettier --write

correção de DRY
  apps/web/ANALISE_PRODUCAO.md
  apps/web/src/lib/actions/turno/getStatsByBase.ts
  apps/web/src/lib/actions/turno/getStatsByHoraETipoEquipe.ts
  apps/web/src/lib/actions/turno/getStatsByTipoEquipe.ts
  apps/web/src/lib/constants/statsLimits.ts
Due: prettier --write

criaão de visao gera por eletricistas
  apps/web/src/app/dashboard/frequencia/visao-geral/page.tsx
  apps/web/src/lib/actions/turno-realizado/getConsolidadoEletricista.ts
  apps/web/src/ui/components/SidebarMenu.tsx
Due: none

reorganizando main da api
  apps/api/src/config/app.config.ts
  apps/api/src/config/cors.config.ts
  apps/api/src/config/env-loader.ts
  apps/api/src/config/index.ts
  apps/api/src/config/routes.config.ts
  apps/api/src/config/security.config.ts
  apps/api/src/config/swagger.config.ts
  apps/api/src/main.ts
  apps/api/src/middleware/index.ts
  apps/api/src/middleware/request-logger.middleware.ts
  apps/api/src/middleware/timeout.middleware.ts
  apps/api/src/modules/engine/auth/auth.module.ts
  apps/api/src/utils/graceful-shutdown.ts
Due: eslint --fix, prettier --write

correção do jwt identificação na criação dos dados vindos do app
  apps/api/ANALISE_MODULOS_API.md
  apps/api/ANALISE_TODOS.md
  apps/api/src/modules/apr/controllers/apr.controller.ts
  apps/api/src/modules/apr/services/apr.service.ts
  apps/api/src/modules/checklist/controllers/checklist.controller.ts
  apps/api/src/modules/checklist/services/checklist.service.ts
  apps/api/src/modules/eletricista/controllers/eletricista-sync.controller.ts
  apps/api/src/modules/eletricista/services/eletricista.service.ts
  apps/api/src/modules/turno-realizado/turno-realizado.service.ts
  apps/api/src/modules/turno/controllers/checklist-foto.controller.ts
  apps/api/src/modules/turno/controllers/turno-mobile.controller.ts
  apps/api/src/modules/turno/services/checklist-foto.service.ts
  apps/api/src/modules/turno/services/checklist-preenchido.service.ts
  apps/api/src/modules/turno/services/turno.service.ts
Due: eslint --fix, prettier --write

correcao
  apps/api/ANALISE_MODULOS_API.md
  apps/api/src/common/utils/where-clause.ts
  apps/api/src/modules/apr/services/apr.service.ts
  apps/api/src/modules/checklist/services/checklist.service.ts
  apps/api/src/modules/eletricista/services/eletricista.service.ts
  apps/api/src/modules/equipe/services/equipe.service.ts
  apps/api/src/modules/veiculo/services/veiculo.service.ts
Due: eslint --fix, prettier --write

corrigido
  apps/api/ANALISE_MODULOS_API.md
  apps/api/src/modules/checklist/services/checklist.service.ts
  apps/api/src/modules/eletricista/services/eletricista.service.ts
  apps/api/src/modules/equipe/services/equipe.service.ts
  apps/api/src/modules/turno/services/turno.service.ts
Due: eslint --fix, prettier --write

refatorações
  apps/api/ANALISE_MODULOS_API.md
  apps/api/src/common/utils/error-handler.ts
  apps/api/src/modules/apr/services/apr.service.ts
  apps/api/src/modules/atividade/services/tipo-atividade.service.ts
  apps/api/src/modules/checklist/services/checklist.service.ts
  apps/api/src/modules/eletricista/services/eletricista.service.ts
  apps/api/src/modules/equipe/services/equipe.service.ts
  apps/api/src/modules/tipo-equipe/services/tipo-equipe.service.ts
  apps/api/src/modules/tipo-veiculo/services/tipo-veiculo.service.ts
  apps/api/src/modules/turno/services/checklist-preenchido.service.ts
  apps/api/src/modules/turno/services/turno.service.ts
  apps/api/src/modules/veiculo/services/veiculo.service.ts
Due: eslint --fix, prettier --write

documentação completa
  apps/api/ANALISE_MODULOS_API.md
  apps/api/src/modules/eletricista/services/eletricista.service.ts
  apps/api/src/modules/equipe/services/equipe.service.ts
  apps/api/src/modules/veiculo/services/veiculo.service.ts
Due: eslint --fix, prettier --write

corrigiddo item da revisao critica
  apps/api/REVISAO_CRITICA_ENGENHARIA.md
  apps/api/src/common/utils/error-handler.ts
  apps/api/src/modules/eletricista/services/eletricista.service.ts
  apps/api/src/modules/equipe/services/equipe.service.ts
  apps/api/src/modules/turno/services/checklist-preenchido.service.ts
  apps/api/src/modules/turno/services/turno.service.ts
  apps/api/src/modules/veiculo/services/veiculo.service.ts
  packages/db/prisma/models/eletricista.prisma
  packages/db/prisma/models/equipe.prisma
  packages/db/prisma/models/migrations/20251104133911_status_funcionario/migration.sql
  packages/db/prisma/models/migrations/20251104160643_add_hora_extra/migration.sql
  packages/db/prisma/models/migrations/20251106232359_initial/migration.sql
  packages/db/prisma/models/veiculo.prisma
  packages/db/scripts/populate_tipo_checklist.sql
  packages/db/scripts/seed-status-inicial.ts
Due: eslint --fix, prettier --write

validação de aray vazio
  apps/api/REVISAO_CRITICA_ENGENHARIA.md
  apps/api/src/modules/turno/controllers/turno-mobile.controller.ts
  apps/api/src/modules/turno/dto/checklist-preenchido.dto.ts
  apps/api/src/modules/turno/services/checklist-preenchido.service.ts
  apps/api/src/modules/turno/services/turno.service.ts
Due: eslint --fix, prettier --write

correção de logs
  apps/api/REVISAO_CRITICA_ENGENHARIA.md
  apps/api/src/config/app.config.ts
  apps/api/src/config/security.config.ts
  apps/api/src/config/swagger.config.ts
  apps/api/src/database/database.service.ts
  apps/api/src/main.ts
  apps/api/src/modules/mobile-upload/services/mobile-photo-upload.service.ts
  apps/api/src/modules/turno-realizado/turno-reconciliacao-scheduler.service.ts
  apps/api/src/modules/turno/services/turno.service.ts
  apps/api/src/utils/graceful-shutdown.ts
Due: eslint --fix, prettier --write

any em transaction
  apps/api/REVISAO_CRITICA_ENGENHARIA.md
  apps/api/src/common/types/prisma.ts
  apps/api/src/modules/turno-realizado/turno-reconciliacao.service.ts
  apps/api/src/modules/turno/services/checklist-preenchido.service.ts
Due: eslint --fix, prettier --write

revisao, codigo duplicado
  apps/api/REVISAO_CRITICA_ENGENHARIA.md
  apps/api/src/common/utils/validation.ts
  apps/api/src/modules/atividade/services/tipo-atividade.service.ts
  apps/api/src/modules/eletricista/services/eletricista.service.ts
  apps/api/src/modules/equipe/services/equipe.service.ts
  apps/api/src/modules/turno/services/turno.service.ts
  apps/api/src/modules/veiculo/services/veiculo.service.ts
  packages/db/prisma/models/atividade.prisma
Due: eslint --fix, prettier --write

correções ok
  apps/api/REVISAO_CRITICA_ENGENHARIA.md
  apps/api/src/common/utils/timeout.ts
  apps/api/src/modules/atividade/services/tipo-atividade.service.ts
  apps/api/src/modules/turno/services/checklist-preenchido.service.ts
  apps/api/src/modules/turno/services/turno.service.ts
Due: eslint --fix, prettier --write

analise final realizada
  apps/api/ANALISE_FINAL_PRODUCAO.md
Due: prettier --write

seed do banco de dados
  package-lock.json
  package.json
  packages/db/package.json
  packages/db/prisma/SEED_README.md
  packages/db/prisma/seed.ts
Due: prettier --write

irei começar a buildar o metodo de justificativa das eqipes,
  apps/api/src/modules/justificativas/justificativas.controller.ts
  apps/api/src/modules/justificativas/justificativas.service.ts
  apps/api/src/modules/turno-realizado/turno-realizado.controller.ts
  apps/api/src/modules/turno-realizado/turno-realizado.service.ts
  apps/api/src/modules/turno-realizado/turno-reconciliacao.service.ts
  packages/db/prisma/models/equipe.prisma
  packages/db/prisma/models/historico-turnos.prisma
  packages/db/prisma/seed.ts
Due: eslint --fix, prettier --write

criação das justificativas
  apps/api/src/modules/turno-realizado/turno-realizado.service.ts
  apps/web/src/app/dashboard/cadastro/escala-equipe-periodo/visualizar.tsx
  apps/web/src/app/dashboard/cadastro/tipo-justificativa/page.tsx
  apps/web/src/app/dashboard/frequencia/justificativas-equipe/criar/page.tsx
  apps/web/src/app/dashboard/frequencia/justificativas-equipe/page.tsx
  apps/web/src/app/dashboard/relatorios/aderencia-equipe/page.tsx
  apps/web/src/lib/actions/justificativa-equipe/aprovar.ts
  apps/web/src/lib/actions/justificativa-equipe/create.ts
  apps/web/src/lib/actions/justificativa-equipe/getById.ts
  apps/web/src/lib/actions/justificativa-equipe/list.ts
  apps/web/src/lib/actions/justificativa-equipe/rejeitar.ts
  apps/web/src/lib/actions/tipo-justificativa/create.ts
  apps/web/src/lib/actions/tipo-justificativa/delete.ts
  apps/web/src/lib/actions/tipo-justificativa/getById.ts
  apps/web/src/lib/actions/tipo-justificativa/list.ts
  apps/web/src/lib/actions/tipo-justificativa/update.ts
  apps/web/src/lib/actions/turno-realizado/getAderenciaEquipe.ts
  apps/web/src/lib/actions/turno-realizado/listFaltas.ts
  apps/web/src/lib/actions/turno-realizado/listHorasExtras.ts
  apps/web/src/lib/repositories/FaltaRepository.ts
  apps/web/src/lib/repositories/HoraExtraRepository.ts
  apps/web/src/lib/repositories/JustificativaEquipeRepository.ts
  apps/web/src/lib/repositories/JustificativaRepository.ts
  apps/web/src/lib/repositories/TipoJustificativaRepository.ts
  apps/web/src/lib/schemas/aderenciaEquipeSchema.ts
  apps/web/src/lib/schemas/justificativaEquipeSchema.ts
  apps/web/src/lib/schemas/justificativaSchema.ts
  apps/web/src/lib/schemas/tipoJustificativaSchema.ts
  apps/web/src/lib/services/FaltaService.ts
  apps/web/src/lib/services/HoraExtraService.ts
  apps/web/src/lib/services/JustificativaEquipeService.ts
  apps/web/src/lib/services/JustificativaService.ts
  apps/web/src/lib/services/TipoJustificativaService.ts
  apps/web/src/lib/services/common/registerServices.ts
  packages/db/prisma/models/migrations/20251107014749_initial/migration.sql
Due: eslint --fix, prettier --write

correçoes de erros
  apps/api/src/common/utils/cors.ts
  apps/api/src/config/cors.config.ts
  apps/api/src/modules/turno/services/checklist-preenchido.service.ts
  apps/api/src/modules/turno/services/turno.service.ts
  apps/web/src/lib/repositories/HoraExtraRepository.ts
  apps/web/src/lib/repositories/TipoJustificativaRepository.ts
  apps/web/src/ui/components/SidebarMenu.tsx
Due: eslint --fix, prettier --write

correções de erros
  apps/web/package.json
  apps/web/src/app/dashboard/cadastro/apr-modelo/form.tsx
  apps/web/src/app/dashboard/cadastro/base/form.tsx
  apps/web/src/app/dashboard/cadastro/checklist-modelo/form.tsx
  apps/web/src/app/dashboard/cadastro/checklist-modelo/page.tsx
  apps/web/src/app/dashboard/cadastro/checklist-opcao-resposta/form.tsx
  apps/web/src/app/dashboard/cadastro/checklist-pergunta/form.tsx
  apps/web/src/app/dashboard/cadastro/contrato/form.tsx
  apps/web/src/app/dashboard/cadastro/eletricista/status-form.tsx
  apps/web/src/app/dashboard/cadastro/equipe/form.tsx
  apps/web/src/app/dashboard/cadastro/supervisor/form.tsx
  apps/web/src/app/dashboard/cadastro/tipo-atividade/form.tsx
  apps/web/src/app/dashboard/cadastro/tipo-checklist/form.tsx
  apps/web/src/app/dashboard/cadastro/tipo-equipe/form.tsx
  apps/web/src/app/dashboard/cadastro/tipo-veiculo/form.tsx
  apps/web/src/app/dashboard/cadastro/usuario-mobile/form.tsx
  apps/web/src/app/dashboard/cadastro/usuario-mobile/permissoesModal.tsx
  apps/web/src/app/dashboard/cadastro/usuario/form.tsx
  apps/web/src/app/dashboard/cadastro/veiculo/form.tsx
  apps/web/src/app/dashboard/historico/page.tsx
  apps/web/src/app/dashboard/turnos/page.tsx
  apps/web/src/lib/actions/turno/getLocalizacoes.ts
  apps/web/src/ui/components/LeafletMapComponent.tsx
  apps/web/src/ui/components/TurnoLocationMapModal.tsx
  apps/web/src/ui/components/leaflet-map.css
  package-lock.json
Due: prettier --write

correção de alguns erros
  apps/web/src/app/dashboard/frequencia/faltas/page.tsx
  apps/web/src/app/dashboard/frequencia/justificativas-equipe/page.tsx
  apps/web/src/app/dashboard/frequencia/visao-geral/page.tsx
  apps/web/src/app/dashboard/relatorios/escalas/components/EscaladosPorDia.tsx
  apps/web/src/app/dashboard/relatorios/escalas/page.tsx
  apps/web/src/lib/actions/relatorios/relatoriosEscalas.ts
  apps/web/src/lib/actions/turno/getStatsByBase.ts
  apps/web/src/lib/actions/turno/getStatsByHoraETipoEquipe.ts
  apps/web/src/lib/actions/turno/getStatsByTipoEquipe.ts
  apps/web/src/lib/repositories/TipoJustificativaRepository.ts
  apps/web/src/lib/schemas/tipoJustificativaSchema.ts
  apps/web/src/lib/services/JustificativaEquipeService.ts
  apps/web/src/lib/services/JustificativaService.ts
  apps/web/src/lib/services/escala/EquipeHorarioVigenciaService.ts
  apps/web/src/lib/services/escala/EquipeTurnoHistoricoService.ts
  apps/web/src/lib/services/escala/EscalaEquipePeriodoService.ts
  apps/web/src/lib/services/escala/HorarioAberturaCatalogoService.ts
  apps/web/src/lib/services/escala/TipoEscalaService.ts
  apps/web/src/ui/components/TurnoLocationMapModal.tsx
Due: none

correções
  apps/web/src/app/dashboard/relatorios/turnos-por-periodo/components/TurnosPorPeriodo.tsx
  apps/web/src/app/dashboard/relatorios/turnos-por-periodo/page.tsx
  apps/web/src/lib/actions/relatorios/relatoriosTurnos.ts
  apps/web/src/ui/components/SidebarMenu.tsx
Due: none

correcao do build
  apps/web/eslint.config.mjs
Due: none

corrigir carregamento de env
  apps/api/src/app.module.ts
  apps/api/src/config/env-loader.ts
  ecosystem.config.js
Due: eslint --fix, prettier --write

retorno correto da api, no caso de fechamento de turno ja fechado
  apps/api/src/modules/turno/controllers/turno-mobile.controller.ts
  apps/api/src/modules/turno/services/turno.service.ts
Due: eslint --fix, prettier --write

melhorias no processo de gerenciamento de turnos
  apps/api/src/common/filters/all-exceptions.filter.ts
  apps/web/src/app/dashboard/historico/page.tsx
  apps/web/src/app/dashboard/turnos/page.tsx
  apps/web/src/lib/actions/turno/fechar.ts
  apps/web/src/lib/repositories/TurnoRepository.ts
  apps/web/src/lib/services/TurnoService.ts
  apps/web/src/ui/components/FecharTurnoModal.tsx
Due: eslint --fix, prettier --write

melhorias
  apps/web/src/app/dashboard/page.tsx
  apps/web/src/app/dashboard/turnos/page.tsx
  apps/web/src/lib/actions/turno/getRecursosPorBase.ts
  apps/web/src/lib/hooks/useDataFetch.ts
Due: none

bugfix de build
  apps/web/src/lib/repositories/TurnoRepository.ts
  apps/web/src/ui/components/FecharTurnoModal.tsx
Due: none

ok
  apps/api/ANALISE_MODULOS_API.md
Due: prettier --write

correções
  apps/api/src/modules/turno-realizado/dto/reconciliar-manual.dto.ts
  apps/api/src/modules/turno-realizado/guards/localhost-cors.guard.ts
  apps/api/src/modules/turno-realizado/turno-realizado.controller.ts
  apps/api/src/modules/turno-realizado/turno-realizado.module.ts
  apps/api/src/modules/turno-realizado/turno-reconciliacao.service.ts
  apps/api/src/modules/turno/services/turno.service.ts
  apps/api/src/modules/turno/turno.module.ts
  apps/web/src/app/dashboard/frequencia/reconciliacao-manual/page.tsx
  docs/ESTRUTURA_COMPARACAO_TURNOS_ESCALA.md
Due: eslint --fix, prettier --write

docs: create beginner guide for api
  README.md
  apps/api/README.md
  apps/api/docs/INDEX.md
  apps/api/docs/MANUAL_INICIANTE.md
Due: prettier --write

correções de erros no turno realizado
  apps/api/src/modules/mobile-upload/services/mobile-location-upload.service.ts
  apps/api/src/modules/turno-realizado/turno-realizado.service.ts
  apps/api/src/modules/turno/services/turno.service.ts
  apps/web/src/app/dashboard/frequencia/visao-geral/page.tsx
  apps/web/src/lib/actions/turno-realizado/getConsolidadoEletricista.ts
  apps/web/src/lib/schemas/turnoRealizadoSchema.ts
  apps/web/src/ui/components/CalendarioFrequencia.tsx
  packages/db/prisma/models/historico-turnos.prisma
  packages/db/prisma/models/migrations/20251115223706_add_turno_id_to_turno_realizado/migration.sql
  packages/db/prisma/models/turno.prisma
Due: eslint --fix, prettier --write

melhorias na comparação de escala dos eletricistas
  apps/web/src/lib/actions/turno-realizado/getConsolidadoEletricista.ts
  apps/web/src/lib/schemas/turnoRealizadoSchema.ts
  apps/web/src/ui/components/CalendarioFrequencia.tsx
Due: none

Path conditions:
  eslint --fix: any of: apps/api/**/*.{ts,tsx,js,mjs}
  prettier --write: (any of: apps/api/**/*.{ts,tsx,js,mjs}) or (any of: **/*.{json,md,yml,yaml})
