Repository xavierheitor/nexa-oper: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: Consolidate checklist photos from relational and mobile sources, enhance checklist viewer with detailed photo metadata, and add activity photo and APR listing actions.
  apps/web/src/lib/actions/atividade/listAprs.ts
  apps/web/src/lib/actions/atividade/listFotos.ts
  apps/web/src/lib/actions/checklist/getByTurno.ts
  apps/web/src/ui/components/ChecklistViewerModal.tsx
  apps/web/src/ui/components/TurnoAtividadesModal.tsx
Due: none

fix: Deduplicate APR evidence items and enhance table row key uniqueness in the activity execution details modal.
  apps/web/src/lib/actions/atividade/getExecucaoDetalhe.ts
  apps/web/src/ui/pages/dashboard/atividades/AtividadeExecucaoDetalhesModal.tsx
Due: none

feat: Implement full CRUD functionality for CausaImprodutiva, including database migration, API, UI, and navigation.
  apps/web/src/app/dashboard/atividades/causas-improdutivas/page.tsx
  apps/web/src/app/dashboard/cadastro/motivos-improdutivos/page.tsx
  apps/web/src/lib/actions/causaImprodutiva/create.ts
  apps/web/src/lib/actions/causaImprodutiva/delete.ts
  apps/web/src/lib/actions/causaImprodutiva/list.ts
  apps/web/src/lib/actions/causaImprodutiva/update.ts
  apps/web/src/lib/constants/navigation.tsx
  apps/web/src/lib/repositories/catalogo/CausaImprodutivaRepository.ts
  apps/web/src/lib/schemas/causaImprodutivaSchema.ts
  apps/web/src/lib/services/catalogo/CausaImprodutivaService.ts
  apps/web/src/lib/services/common/registerServices.ts
  apps/web/src/ui/pages/dashboard/atividades/CausasImprodutivasPageClient.tsx
  apps/web/src/ui/pages/dashboard/atividades/causas-improdutivas/form.tsx
  packages/db/prisma/models/atividade.prisma
  packages/db/prisma/models/migrations/20260302204500_add_causa_improdutiva/migration.sql
Due: none

feat: Add `causa-improdutiva` as a new sync collection.
  apps/api/src/modules/sync/README.md
  apps/api/src/modules/sync/sync-collection.types.ts
  apps/api/src/modules/sync/sync-collections.def.ts
  apps/api/src/modules/sync/sync.controller.ts
Due: eslint --fix, prettier --write

feat: Introduce `atividadeProdutiva` and `causaImprodutiva` fields to classify activity productivity with associated validation.
  apps/api/src/contracts/atividade-upload/atividade-upload.contract.ts
  apps/api/src/modules/atividade-upload/README.md
  apps/api/src/modules/atividade-upload/application/use-cases/upload-atividade.use-case.spec.ts
  apps/api/src/modules/atividade-upload/application/use-cases/upload-atividade.use-case.ts
  apps/api/src/modules/atividade-upload/atividade-upload.service.ts
  apps/api/src/modules/atividade-upload/dto/atividade-upload.dto.ts
  packages/db/prisma/models/atividade.prisma
  packages/db/prisma/models/migrations/20260303001500_add_atividade_improdutiva_fields/migration.sql
Due: eslint --fix, prettier --write

feat: Add activity productivity metrics and filters to shift reports and activity listings.
  apps/web/src/lib/actions/atividade/_common.ts
  apps/web/src/lib/actions/atividade/listExecucoes.ts
  apps/web/src/lib/actions/relatorios/relatoriosTurnos.ts
  apps/web/src/lib/types/atividadeDashboard.ts
  apps/web/src/ui/components/TurnoAtividadesModal.tsx
  apps/web/src/ui/pages/dashboard/atividades/AtividadeExecucaoDetalhesModal.tsx
  apps/web/src/ui/pages/dashboard/atividades/AtividadesMateriaisPageClient.tsx
  apps/web/src/ui/pages/dashboard/atividades/AtividadesMedidoresPageClient.tsx
  apps/web/src/ui/pages/dashboard/atividades/AtividadesTableFilters.tsx
  apps/web/src/ui/pages/dashboard/atividades/AtividadesVisaoGeralPageClient.tsx
  apps/web/src/ui/pages/dashboard/atividades/useAtividadesFilterOptions.ts
  apps/web/src/ui/pages/dashboard/relatorios/turnos-por-periodo/components/TurnosPorPeriodo.tsx
Due: none

feat: add database migration and orphan cleanup scripts, and improve `dataResposta` handling in upload service.
  apps/api/src/modules/atividade-upload/application/use-cases/upload-atividade.use-case.spec.ts
  apps/api/src/modules/atividade-upload/atividade-upload.service.ts
  package-lock.json
  packages/db/package.json
  packages/db/scripts/fix-migration.ts
  packages/db/scripts/fix-orphans.ts
Due: eslint --fix, prettier --write

feat: Implement Excel export and date range filtering for dashboard activity pages.
  apps/web/src/app/dashboard/atividades/causas-improdutivas/page.tsx
  apps/web/src/app/dashboard/atividades/materiais/page.tsx
  apps/web/src/app/dashboard/atividades/medidores/page.tsx
  apps/web/src/app/dashboard/atividades/visao-geral/page.tsx
  apps/web/src/lib/repositories/catalogo/CausaImprodutivaRepository.ts
  apps/web/src/lib/schemas/causaImprodutivaSchema.ts
  apps/web/src/lib/types/atividadeDashboard.ts
  apps/web/src/lib/types/common.ts
  apps/web/src/lib/utils/dateHelpers.ts
  apps/web/src/ui/pages/dashboard/atividades/AtividadesMateriaisPageClient.tsx
  apps/web/src/ui/pages/dashboard/atividades/AtividadesMedidoresPageClient.tsx
  apps/web/src/ui/pages/dashboard/atividades/AtividadesTableFilters.tsx
  apps/web/src/ui/pages/dashboard/atividades/AtividadesVisaoGeralPageClient.tsx
  apps/web/src/ui/pages/dashboard/atividades/CausasImprodutivasPageClient.tsx
  apps/web/src/ui/pages/dashboard/atividades/exportUtils.ts
Due: none

fix: Correct checklist viewer modal photo count and warning display logic, and enforce dynamic rendering for dashboard pages.
  apps/web/src/app/dashboard/frequencia/visao-geral/page.tsx
  apps/web/src/app/dashboard/layout.tsx
  apps/web/src/app/dashboard/turnos/page.tsx
  apps/web/src/ui/components/ChecklistViewerModal.tsx
Due: none

chore(release): bump versions to v1.1.0 and add release notes
  CHANGELOG.md
  apps/api/package.json
  apps/web/package.json
  docs/release-v1.1.0.md
  package-lock.json
  package.json
  packages/db/package.json
Due: prettier --write

fix(api): robust checklist reprova sync state and evidence persistence
  apps/api/src/modules/upload/evidence/checklist-reprova.handler.ts
Due: eslint --fix, prettier --write

feat(api): adiciona job de reconciliacao de fotos de checklist
  .env.example
  apps/api/src/core/config/env.ts
  apps/api/src/modules/upload/README.md
  apps/api/src/modules/upload/jobs/checklist-photo-reconcile.job.ts
  apps/api/src/modules/upload/upload.module.ts
  docs/05-upload-fotos-e-arquivos.md
Due: eslint --fix, prettier --write

chore: Remove eslint-disable comments for sonarjs/cognitive-complexity rule from two private methods.
  apps/api/src/modules/upload/jobs/checklist-photo-reconcile.job.ts
Due: eslint --fix, prettier --write

feat: Enhance `checklist-reprova` handler with robust metadata ID parsing, stricter validation for missing entities, and new unit tests.
  apps/api/src/modules/upload/evidence/checklist-reprova.handler.spec.ts
  apps/api/src/modules/upload/evidence/checklist-reprova.handler.ts
Due: eslint --fix, prettier --write

feat: Add `kmInicio` and `kmFim` fields to turno data structures and display calculated shift kilometers in a new table column.
  apps/web/src/ui/pages/dashboard/frequencia/FrequenciaVisaoGeralPageClient.tsx
Due: none

feat: replace 'Km do Turno' column with separate 'KM Início' and 'KM Final' columns.
  apps/web/src/ui/pages/dashboard/frequencia/FrequenciaVisaoGeralPageClient.tsx
Due: none

feat: add activity execution details view and implement upload locking with event deduplication
  apps/api/src/modules/atividade-upload/atividade-upload.service.spec.ts
  apps/api/src/modules/atividade-upload/atividade-upload.service.ts
  apps/web/src/ui/pages/dashboard/atividades/AtividadeExecucaoDetalhesModal.tsx
  apps/web/src/ui/pages/dashboard/atividades/AtividadesMedidoresPageClient.tsx
Due: eslint --fix, prettier --write

feat: Implement photo checksum deduplication during activity upload and update turno conflict validation to check against all open turnos.
  apps/api/src/modules/atividade-upload/atividade-upload.service.spec.ts
  apps/api/src/modules/atividade-upload/atividade-upload.service.ts
  apps/api/src/modules/turno/README.md
  apps/api/src/modules/turno/application/use-cases/open-turno.use-case.spec.ts
  apps/api/src/modules/turno/turno.validation.ts
Due: eslint --fix, prettier --write

feat: add documentation outlining the proposed web permission system and update the README.
  docs/08-sistema-permissoes-web.md
  docs/README.md
Due: prettier --write

feat: remove 'Causas Improdutivas' navigation item from dashboard activities
  apps/web/src/lib/constants/navigation.tsx
Due: none

feat: Implement robust authorization system with permission-based navigation filtering and route protection.
  apps/api/src/modules/upload/jobs/checklist-photo-reconcile.job.ts
  apps/web/src/lib/authz/permissions.ts
  apps/web/src/lib/constants/navigation.tsx
  apps/web/src/lib/types/permissions.ts
  apps/web/src/ui/components/SidebarMenu.tsx
  apps/web/src/ui/pages/dashboard/DashboardLayoutClient.tsx
Due: eslint --fix, prettier --write

refactor: derive navigation permissions from menu structure and add UI for unmapped dashboard routes.
  apps/web/src/lib/constants/navigation.tsx
  apps/web/src/ui/pages/dashboard/DashboardLayoutClient.tsx
Due: none

feat: add direct user permission management with UI and database support
  apps/web/src/lib/actions/userPermission/get.ts
  apps/web/src/lib/actions/userPermission/update.ts
  apps/web/src/lib/authz/permissions.ts
  apps/web/src/lib/authz/user-permission-admin.ts
  apps/web/src/lib/types/permissions.ts
  apps/web/src/lib/utils/auth.config.ts
  apps/web/src/ui/pages/dashboard/cadastro/UsuarioPageClient.tsx
  apps/web/src/ui/pages/dashboard/cadastro/usuario/permissoesModal.tsx
  apps/web/types/next-auth.d.ts
  packages/db/prisma/models/auth_web.prisma
  packages/db/prisma/models/migrations/20260310121500_add_user_permission_grants/migration.sql
Due: none

feat: Implement permission guards for user actions and navigation links.
  apps/web/src/lib/actions/common/permissionGuard.ts
  apps/web/src/lib/actions/user/create.ts
  apps/web/src/lib/actions/user/delete.ts
  apps/web/src/lib/actions/user/get.ts
  apps/web/src/lib/actions/user/list.ts
  apps/web/src/lib/actions/user/resetPassword.ts
  apps/web/src/lib/actions/user/update.ts
  apps/web/src/lib/actions/userPermission/get.ts
  apps/web/src/lib/actions/userPermission/update.ts
  apps/web/src/lib/authz/permissions.ts
  apps/web/src/lib/authz/user-access.ts
  apps/web/src/lib/authz/user-permission-admin.ts
  apps/web/src/lib/constants/navigation.tsx
  apps/web/src/ui/pages/dashboard/cadastro/UsuarioPageClient.tsx
Due: none

feat: Implement permission profiles to enhance user authorization management.
  apps/web/src/lib/actions/permissionProfile/create.ts
  apps/web/src/lib/actions/permissionProfile/delete.ts
  apps/web/src/lib/actions/permissionProfile/get.ts
  apps/web/src/lib/actions/permissionProfile/list.ts
  apps/web/src/lib/actions/permissionProfile/update.ts
  apps/web/src/lib/actions/userPermission/get.ts
  apps/web/src/lib/actions/userPermission/update.ts
  apps/web/src/lib/authz/permissions.ts
  apps/web/src/lib/authz/user-permission-admin.ts
  apps/web/src/lib/hooks/useAuth.ts
  apps/web/src/lib/utils/auth.config.ts
  apps/web/src/ui/pages/dashboard/cadastro/usuario/permissoesModal.tsx
  apps/web/types/next-auth.d.ts
  packages/db/prisma/models/auth_web.prisma
  packages/db/prisma/models/migrations/20260315113000_add_permission_profiles/migration.sql
Due: none

feat: Implement permission group management and add user password reset functionality.
  apps/web/src/app/dashboard/cadastro/grupo-permissao/page.tsx
  apps/web/src/lib/actions/permissionProfile/list.ts
  apps/web/src/lib/constants/navigation.tsx
  apps/web/src/lib/services/auth/UserService.ts
  apps/web/src/ui/components/TableActionButtons.tsx
  apps/web/src/ui/pages/dashboard/cadastro/GrupoPermissaoPageClient.tsx
  apps/web/src/ui/pages/dashboard/cadastro/UsuarioPageClient.tsx
  apps/web/src/ui/pages/dashboard/cadastro/grupo-permissao/form.tsx
  apps/web/src/ui/pages/dashboard/cadastro/usuario/permissoesModal.tsx
Due: none

refactor: remove role-based authorization checks, relying solely on explicit permissions.
  apps/web/src/lib/actions/common/permissionGuard.ts
  apps/web/src/lib/actions/test/test.ts
  apps/web/src/lib/actions/userPermission/get.ts
  apps/web/src/lib/actions/userPermission/update.ts
  apps/web/src/lib/authz/registry-access.ts
  apps/web/src/lib/authz/user-access.ts
  apps/web/src/lib/authz/user-permission-admin.ts
  apps/web/src/lib/utils/auth.config.ts
  apps/web/src/ui/pages/dashboard/cadastro/usuario/permissoesModal.tsx
Due: none

feat: add script to grant admin privileges to a specified user.
  packages/db/package.json
  packages/db/scripts/grant-admin.ts
Due: prettier --write

ci: Enhance API CI workflow triggers and dependency caching, improve evidence link type handling for `bigint` and `symbol`, and refactor linting scripts.
  .github/workflows/api-ci.yml
  apps/api/package.json
  apps/api/src/core/config/env.ts
  apps/api/src/modules/atividade-upload/atividade-upload.service.spec.ts
  apps/api/src/modules/turno/application/use-cases/open-turno.use-case.spec.ts
  apps/api/src/modules/upload/evidence/upload-evidence-link.service.ts
Due: eslint --fix, prettier --write

feat: Introduce dynamic path and URL derivation using environment variables for PM2 configuration.
  ecosystem.config.js
Due: none

feat: Synchronize all defined permissions to the admin profile and use a constant for the script user.
  packages/db/scripts/grant-admin.ts
Due: none

refactor: dynamically load all permissions in the grant-admin script to improve robustness.
  packages/db/scripts/grant-admin.ts
Due: none

feat: Add new Prisma models and database tables for project catalogs and enable modular schema organization with `prismaSchemaFolder`.
  db.session.sql
  packages/db/prisma/models/migrations/20260317120000_add_catalogos_projetos/migration.sql
  packages/db/prisma/models/projetos.prisma
  packages/db/prisma/models/schema.prisma
Due: none

feat: Add comprehensive project programming and execution models, including new enums and relationships for materials, postes, and ramals.
  packages/db/prisma/models/atividade.prisma
  packages/db/prisma/models/contrato.prisma
  packages/db/prisma/models/projetos.prisma
  packages/db/prisma/models/turno.prisma
Due: none

feat: add new `equipamento` field to the `Projeto` model.
  packages/db/prisma/models/projetos.prisma
Due: none

feat: standardize and normalize stored upload paths and URLs across the application.
  apps/api/src/modules/atividade-upload/atividade-upload.service.ts
  apps/api/src/modules/upload/evidence/checklist-assinatura.handler.ts
  apps/api/src/modules/upload/evidence/checklist-reprova.handler.ts
  apps/api/src/modules/upload/jobs/checklist-photo-reconcile.job.ts
  apps/api/src/modules/upload/storage/local-storage.adapter.ts
  apps/api/src/modules/upload/storage/s3-storage.adapter.ts
  apps/api/src/modules/upload/storage/upload-url.spec.ts
  apps/api/src/modules/upload/storage/upload-url.ts
  apps/api/src/modules/upload/upload.service.spec.ts
  apps/api/src/modules/upload/upload.service.ts
  apps/web/src/lib/utils/fileUpload.ts
  apps/web/src/lib/utils/photos.ts
Due: eslint --fix, prettier --write

refactor: Overhaul the operational projects and programming module with database schema updates, simplified statuses, and new documentation.
  docs/09-projetos-programacoes-operacionais.md
  docs/README.md
  packages/db/prisma/models/migrations/20260318183000_refactor_oper_projetos/migration.sql
  packages/db/prisma/models/migrations/20260319024000_drop_legacy_proj_snake_case/migration.sql
  packages/db/prisma/models/projetos.prisma
Due: prettier --write

Path conditions:
  eslint --fix: any of: apps/api/**/*.{ts,tsx,js,mjs}
  prettier --write: (any of: apps/api/**/*.{ts,tsx,js,mjs}) or (any of: **/*.{json,md,yml,yaml})
