Repository xavierheitor/nexa-oper: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refatoração completa
  apps/api/src/common/filters/all-exceptions.filter.ts
  apps/api/src/common/interceptors/sync-audit-remover.interceptor.ts
  apps/api/src/common/utils/pagination.ts
  apps/api/src/main.ts
  apps/api/src/modules/checklist/services/checklist.service.ts
  apps/api/src/modules/engine/auth/decorators/get-user-contracts.decorator.ts
  apps/api/src/modules/engine/auth/guards/jwt-auth.guard.ts
  apps/api/src/modules/veiculo/services/veiculo.service.ts
Due: eslint --fix, prettier --write

revisando documentacao
  apps/api/README.md
  apps/api/REVISAO_CRITICA_PRE_LANCAMENTO.md
  apps/api/docs/ARQUITETURA.md
  apps/api/docs/FLUXOS_TURNO.md
  apps/api/docs/INDEX.md
  apps/api/docs/MANUAL_EXECUCAO.md
  apps/api/docs/MIDDLEWARES_INTERCEPTORS.md
  apps/api/docs/PAYLOADS.md
  apps/api/src/common/middleware/rate-limit.middleware.ts
  revisao critica da api.txt
Due: eslint --fix, prettier --write

correcoes
  apps/web/docs/ACTION_TYPES_ANALYSIS.md
  apps/web/docs/ACTION_TYPES_IMPROVEMENTS_SUMMARY.md
  apps/web/docs/ACTION_TYPES_MANUAL.md
  apps/web/docs/ANALISE_ARQUITETURAL.md
  apps/web/docs/BUGFIX_PAGINACAO.md
  apps/web/docs/DIAGNOSTICO_PAGINACAO.md
  apps/web/docs/FILTROS_SERVER_SIDE.md
  apps/web/docs/MODULE_CREATION_GUIDE.md
  apps/web/docs/REFATORACAO_RESUMO.md
  apps/web/docs/REFATORACAO_VALIDACOES.md
  apps/web/docs/STATUS_PROJETO.md
  apps/web/docs/TODO.md
  apps/web/public/logo.png
  apps/web/src/ui/components/SidebarMenu.tsx
Due: prettier --write

docs: adiciona lista de testes pendentes para módulos novos
  TESTES_PENDENTES.md
Due: prettier --write

feat: implementa reconciliação automática ao abrir turnos
  TESTES_PENDENTES.md
  apps/api/src/modules/turno-realizado/turno-realizado.service.ts
Due: eslint --fix, prettier --write

docs: adiciona documentação da reconciliação automática
  docs/RECONCILIACAO_AUTOMATICA.md
Due: prettier --write

docs: documenta arquitetura dual do sistema de fotos de checklist
  docs/SISTEMA_FOTOS_CHECKLIST.md
Due: prettier --write

criação de um serviço de armazenamento de fotos
  apps/api/src/main.ts
  apps/api/src/modules/mobile-upload/services/mobile-photo-upload.service.ts
  apps/storage/README.md
  apps/storage/env.example
  apps/storage/package.json
  apps/storage/prisma/migrations/20251030220640_init/migration.sql
  apps/storage/prisma/migrations/migration_lock.toml
  apps/storage/prisma/schema.prisma
  apps/storage/src/config/env.ts
  apps/storage/src/middlewares/auth.ts
  apps/storage/src/middlewares/error-handler.ts
  apps/storage/src/routes/static.ts
  apps/storage/src/routes/upload.ts
  apps/storage/src/server.ts
  apps/storage/src/services/prisma.service.ts
  apps/storage/src/services/storage.service.ts
  apps/storage/tsconfig.json
  apps/web/src/lib/actions/checklist/getByTurno.ts
  docs/ACESSO_REDE_LOCAL.md
  docs/OPCOES_EXPOSICAO_FOTOS.md
  docs/RECONCILIACAO_AUTOMATICA.md
  docs/STORAGE_SERVICE_RESUMO.md
  docs/STORAGE_SERVICE_SETUP.md
  package-lock.json
  package.json
  packages/db/prisma/generated/prisma/edge.js
  packages/db/prisma/generated/prisma/index.js
Due: eslint --fix, prettier --write

Revert "criação de um serviço de armazenamento de fotos"
  apps/api/src/main.ts
  apps/api/src/modules/mobile-upload/services/mobile-photo-upload.service.ts
  apps/storage/README.md
  apps/storage/env.example
  apps/storage/package.json
  apps/storage/prisma/migrations/20251030220640_init/migration.sql
  apps/storage/prisma/migrations/migration_lock.toml
  apps/storage/prisma/schema.prisma
  apps/storage/src/config/env.ts
  apps/storage/src/middlewares/auth.ts
  apps/storage/src/middlewares/error-handler.ts
  apps/storage/src/routes/static.ts
  apps/storage/src/routes/upload.ts
  apps/storage/src/server.ts
  apps/storage/src/services/prisma.service.ts
  apps/storage/src/services/storage.service.ts
  apps/storage/tsconfig.json
  apps/web/src/lib/actions/checklist/getByTurno.ts
  docs/ACESSO_REDE_LOCAL.md
  docs/OPCOES_EXPOSICAO_FOTOS.md
  docs/RECONCILIACAO_AUTOMATICA.md
  docs/STORAGE_SERVICE_RESUMO.md
  docs/STORAGE_SERVICE_SETUP.md
  package-lock.json
  package.json
  packages/db/prisma/generated/prisma/edge.js
  packages/db/prisma/generated/prisma/index.js
Due: eslint --fix, prettier --write

correcoes
  apps/api/src/config/validation.ts
  apps/api/src/modules/mobile-upload/constants/mobile-upload.constants.ts
  apps/api/src/modules/mobile-upload/services/mobile-photo-upload.service.ts
  docs/CONFIGURACAO_UPLOADS.md
Due: eslint --fix, prettier --write

subir
  apps/web/src/app/dashboard/cadastro/apr-modelo/page.tsx
  deploy.sh
  docs/DEPLOY_UBUNTU.md
  ecosystem.config.js.example
Due: prettier --write

configuracao do link de logout
  apps/web/src/lib/actions/turno/stats.ts
  apps/web/tsconfig.json
Due: prettier --write

correcao na url base das fotos no web
  apps/web/README.md
  apps/web/src/lib/utils/photos.ts
  apps/web/src/ui/components/ChecklistViewerModal.tsx
Due: prettier --write

correcao do gracefull shutdown
  apps/api/src/common/utils/ports.ts
  apps/api/src/main.ts
  apps/web/instrumentation.ts
  apps/web/src/lib/utils/shutdown.ts
  ecosystem.config.js.example
Due: eslint --fix, prettier --write

correcao nos logs
  apps/api/src/common/utils/logger.ts
Due: eslint --fix, prettier --write

projeto pronto prod
  ecosystem.config.js.example
Due: none

correcao do listen
  apps/api/src/main.ts
Due: eslint --fix, prettier --write

correcao no main ora teste da api
  apps/api/logs/app.log
  apps/api/logs/error.log
  apps/api/src/main.ts
Due: eslint --fix, prettier --write

correção de erros de build
  apps/api/src/common/decorators/index.ts
  apps/api/src/common/decorators/public.decorator.ts
  apps/api/src/common/middleware/logger.middleware.ts
  apps/api/src/health/health.controller.ts
  apps/api/src/main.ts
  apps/api/src/metrics/metrics.controller.ts
  apps/api/src/metrics/metrics.service.ts
Due: eslint --fix, prettier --write

restante das correções
  apps/api/src/common/middleware/logger.middleware.ts
  apps/api/src/health/health.controller.ts
  apps/api/src/main.ts
  apps/api/src/metrics/metrics.controller.ts
Due: eslint --fix, prettier --write

teste cors
  apps/api/logs/app.log
  apps/api/src/main.ts
  apps/web/tsconfig.json
Due: eslint --fix, prettier --write

cd ~/git/scm0
  apps/api/logs/app.log
  apps/api/src/main.ts
  ecosystem.config.js.example
Due: eslint --fix, prettier --write

feat: Sistema de status de eletricistas
  apps/web/src/app/dashboard/cadastro/eletricista/form.tsx
  apps/web/src/app/dashboard/cadastro/eletricista/page.tsx
  apps/web/src/app/dashboard/cadastro/eletricista/status-form.tsx
  apps/web/src/lib/actions/eletricista/registrarStatus.ts
  apps/web/src/lib/repositories/EletricistaRepository.ts
  apps/web/src/lib/schemas/eletricistaSchema.ts
  apps/web/src/lib/schemas/eletricistaStatusSchema.ts
  apps/web/src/ui/components/AlterarStatusModal.tsx
  docs/DESIGN_STATUS_ELETRICISTA.md
  docs/IMPLEMENTACAO_STATUS_ELETRICISTA.md
  docs/MIGRATION_STATUS_ELETRICISTA_GUIDE.md
  packages/db/prisma/models/eletricista-status.prisma
  packages/db/prisma/models/eletricista.prisma
  packages/db/prisma/models/migrations/20251104133911_status_funcionario/migration.sql
  packages/db/scripts/seed-status-inicial.ts
Due: prettier --write

ok
  apps/api/logs/app.log
Due: none

correcao de erro
  apps/api/logs/app.log
  apps/web/src/app/dashboard/cadastro/eletricista/form.tsx
Due: none

correcoes
  apps/api/logs/app.log
  apps/web/src/app/dashboard/frequencia/eletricista/[id]/page.tsx
  apps/web/src/app/dashboard/frequencia/equipe/[id]/page.tsx
  apps/web/src/app/dashboard/frequencia/faltas/page.tsx
  apps/web/src/app/dashboard/frequencia/horas-extras/page.tsx
  apps/web/src/lib/repositories/EletricistaRepository.ts
  apps/web/src/lib/services/EletricistaService.ts
  apps/web/src/ui/components/AprovarHoraExtraModal.tsx
  apps/web/src/ui/components/JustificarFaltaModal.tsx
  apps/web/src/ui/components/SidebarMenu.tsx
Due: none

padrao ne status na criacao de funcionarios
  apps/web/src/app/dashboard/cadastro/eletricista/lote-form.tsx
  apps/web/src/lib/actions/eletricista/createLote.ts
  apps/web/src/lib/schemas/eletricistaSchema.ts
Due: none

implementando sistema de justificativa de faltas
  apps/api/logs/app.log
  apps/api/src/modules/justificativas/justificativas.controller.ts
  apps/web/.gitignore
  apps/web/next.config.ts
  apps/web/src/app/api/uploads/justificativas/anexos/[...path]/route.ts
  apps/web/src/app/dashboard/frequencia/faltas/page.tsx
  apps/web/src/lib/actions/justificativa/criarJustificativa.ts
  apps/web/src/lib/actions/justificativa/listTipos.ts
  apps/web/src/lib/actions/justificativa/uploadAnexo.ts
  apps/web/src/lib/utils/fileUpload.ts
  apps/web/src/ui/components/JustificarFaltaModal.tsx
Due: eslint --fix, prettier --write

implemmentando urls de configuração de uploads
  apps/api/README.md
  apps/web/README.md
  apps/web/src/app/api/uploads/justificativas/anexos/[...path]/route.ts
  apps/web/src/lib/utils/fileUpload.ts
  docs/CONFIGURACAO_UPLOADS_UNIFICADA.md
Due: prettier --write

correção
  apps/api/logs/app.log
  apps/api/src/modules/justificativas/justificativas.controller.ts
Due: eslint --fix, prettier --write

adição de data no historico de turnos
  apps/web/src/app/dashboard/turnos/page.tsx
Due: none

revisao de codigo web
  apps/web/ANALISE_CODIGO.md
  apps/web/src/app/api/uploads/justificativas/anexos/[...path]/route.ts
  apps/web/src/app/dashboard/cadastro/eletricista/page.tsx
  apps/web/src/ui/components/AlterarStatusModal.tsx
  apps/web/src/ui/components/TransferBaseModal.tsx
Due: prettier --write

correção dos any types no web
  apps/web/src/app/cadastro/page.tsx
  apps/web/src/app/dashboard/cadastro/apr-modelo/form.tsx
  apps/web/src/app/dashboard/cadastro/apr-modelo/page.tsx
  apps/web/src/app/dashboard/cadastro/cargo/page.tsx
  apps/web/src/app/dashboard/cadastro/checklist-modelo/form.tsx
  apps/web/src/app/dashboard/cadastro/checklist-modelo/page.tsx
  apps/web/src/app/dashboard/cadastro/eletricista/lote-form.tsx
  apps/web/src/app/dashboard/cadastro/eletricista/page.tsx
  apps/web/src/app/dashboard/cadastro/equipe-horario/form.tsx
  apps/web/src/app/dashboard/cadastro/equipe/page.tsx
  apps/web/src/app/dashboard/cadastro/escala-equipe-periodo/page.tsx
  apps/web/src/app/dashboard/cadastro/supervisor/page.tsx
  apps/web/src/app/dashboard/cadastro/supervisor/vinculoForm.tsx
  apps/web/src/app/dashboard/cadastro/tipo-atividade/page.tsx
  apps/web/src/app/dashboard/cadastro/tipo-checklist/page.tsx
  apps/web/src/app/dashboard/cadastro/usuario-mobile/page.tsx
  apps/web/src/app/dashboard/cadastro/usuario-mobile/permissoesModal.tsx
  apps/web/src/app/dashboard/cadastro/veiculo/page.tsx
  apps/web/src/app/dashboard/frequencia/faltas/page.tsx
  apps/web/src/app/dashboard/turnos/page.tsx
  apps/web/src/lib/abstracts/AbstractCrudRepository.ts
  apps/web/src/lib/actions/justificativa/listTipos.ts
  apps/web/src/lib/repositories/EletricistaRepository.ts
  apps/web/src/lib/schemas/eletricistaSchema.ts
  apps/web/src/lib/services/EletricistaService.ts
  apps/web/src/lib/types/antd.ts
  apps/web/src/lib/types/prisma.ts
  apps/web/src/ui/components/AlterarStatusModal.tsx
  apps/web/src/ui/components/FaltaTable.tsx
  apps/web/src/ui/components/HoraExtraTable.tsx
  apps/web/src/ui/components/JustificarFaltaModal.tsx
Due: none

refatoraão doweb
  apps/web/src/app/dashboard/cadastro/apr-modelo/page.tsx
  apps/web/src/app/dashboard/cadastro/checklist-modelo/form.tsx
  apps/web/src/app/dashboard/cadastro/checklist-modelo/page.tsx
  apps/web/src/app/dashboard/cadastro/escala-equipe-periodo/visualizar.tsx
  apps/web/src/app/dashboard/cadastro/supervisor/vinculoForm.tsx
  apps/web/src/app/dashboard/cadastro/tipo-escala/[id]/page.tsx
  apps/web/src/app/dashboard/cadastro/usuario-mobile/permissoesModal.tsx
  apps/web/src/app/dashboard/frequencia/faltas/page.tsx
  apps/web/src/app/dashboard/relatorios/bases/components/ComparacaoEntreBases.tsx
  apps/web/src/app/dashboard/relatorios/bases/components/ConsolidacaoPorBase.tsx
  apps/web/src/app/dashboard/relatorios/eletricistas/components/EletricistasDetalhado.tsx
  apps/web/src/app/dashboard/relatorios/eletricistas/components/EletricistasPorLotacao.tsx
  apps/web/src/app/dashboard/relatorios/eletricistas/components/EletricistasPorTipoEquipe.tsx
  apps/web/src/app/dashboard/relatorios/equipes/components/EquipesEscaladas.tsx
  apps/web/src/app/dashboard/relatorios/equipes/components/EquipesPorHorario.tsx
  apps/web/src/app/dashboard/relatorios/equipes/components/EquipesSemHorario.tsx
  apps/web/src/app/dashboard/relatorios/escalas/components/ComparacaoFolgaTrabalho.tsx
  apps/web/src/app/dashboard/relatorios/escalas/components/DiasTrabalhadosPorEletricista.tsx
  apps/web/src/app/dashboard/relatorios/escalas/components/FaltasPorPeriodo.tsx
  apps/web/src/app/dashboard/relatorios/veiculos/components/VeiculosPorLotacao.tsx
  apps/web/src/app/dashboard/relatorios/veiculos/components/VeiculosPorMarca.tsx
  apps/web/src/app/dashboard/relatorios/veiculos/components/VeiculosPorTipo.tsx
  apps/web/src/app/dashboard/turnos/page.tsx
  apps/web/src/lib/hooks/useDataFetch.ts
Due: none

refatorações
  apps/web/src/app/dashboard/cadastro/apr-modelo/page.tsx
  apps/web/src/app/dashboard/cadastro/checklist-modelo/page.tsx
  apps/web/src/app/dashboard/cadastro/eletricista/page.tsx
  apps/web/src/app/dashboard/cadastro/usuario-mobile/page.tsx
  apps/web/src/lib/actions/common/actionHandler.ts
  apps/web/src/lib/schemas/eletricistaSchema.ts
Due: none

Path conditions:
  eslint --fix: any of: apps/api/**/*.{ts,tsx,js,mjs}
  prettier --write: (any of: apps/api/**/*.{ts,tsx,js,mjs}) or (any of: **/*.{json,md,yml,yaml})
