Repository xavierheitor/nexa-oper: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Atualiza a versão do pacote @nexa-oper/web para 0.2.0 e implementa funcionalidade de exportação de escala para CSV na página de edição em curso, incluindo novos ícones e melhorias na interface.
  apps/web/src/app/dashboard/escalas/edicao-em-curso/page.tsx
  package-lock.json
Due: prettier --write

feat: Add `AUTH_SECRET` as a fallback for the authentication secret.
  apps/web/src/lib/utils/auth.config.ts
Due: none

feat: Introduce comprehensive activity management models including types, forms, materials, and executions, along with related database utilities.
  packages/db/check_migrations.ts
  packages/db/create_shadow_db.ts
  packages/db/create_temp_db.ts
  packages/db/fix_drift.ts
  packages/db/prisma/models/atividade.prisma
  packages/db/prisma/models/contrato.prisma
  packages/db/prisma/models/migrations/20260223000000_merge_atividade_upload/migration.sql
  packages/db/prisma/models/mobile-upload.prisma
  packages/db/prisma/models/turno.prisma
Due: none

feat: Implement monorepo-aware environment loading and unified upload configuration with Next.js proxying.
  .env.example
  apps/api/src/core/config/README.md
  apps/api/src/core/config/configure-app.ts
  apps/api/src/core/config/env.ts
  apps/api/src/core/config/load-env.ts
  apps/api/src/core/config/workspace-paths.ts
  apps/api/src/main.ts
  apps/api/src/modules/upload/README.md
  apps/api/src/modules/upload/storage/local-storage.adapter.ts
  apps/web/README.md
  apps/web/next.config.ts
  apps/web/src/lib/utils/fileUpload.ts
  docs/ENV_MONOREPO_GUIDE.md
Due: eslint --fix, prettier --write

feat: Centralize environment variable management at the monorepo root using a new `with-env.mjs` script and update documentation and Prisma commands to reflect this new loading strategy.
  README.md
  SETUP_GUIDE.md
  apps/api/src/core/config/workspace-paths.ts
  apps/web/src/lib/utils/fileUpload.ts
  package.json
  packages/db/INSTALL.md
  packages/db/README.md
  packages/db/package.json
  packages/db/scripts/with-env.mjs
Due: eslint --fix, prettier --write

feat: Implement dedicated photo storage configuration and refactor photo URL generation across the application.
  apps/web/src/app/dashboard/seguranca/checklists-pendentes/form.tsx
  apps/web/src/app/dashboard/seguranca/checklists-pendentes/page.tsx
  apps/web/src/app/dashboard/seguranca/consulta-checklists/[id]/page.tsx
  apps/web/src/lib/utils/photos.ts
  docs/ENV_MONOREPO_GUIDE.md
Due: prettier --write

feat: Implement upload deduplication and idempotency using checksums and unique keys for various evidence types.
  apps/api/src/modules/upload/evidence/checklist-assinatura.handler.ts
  apps/api/src/modules/upload/evidence/checklist-reprova.handler.ts
  apps/api/src/modules/upload/evidence/evidence.handler.ts
  apps/api/src/modules/upload/upload.service.spec.ts
  apps/api/src/modules/upload/upload.service.ts
  packages/db/prisma/models/checklist-preenchido.prisma
  packages/db/prisma/models/migrations/20260223013000_upload_idempotency_checksum/migration.sql
  packages/db/prisma/models/mobile-upload.prisma
Due: eslint --fix, prettier --write

docs: Restructure and consolidate documentation, moving release notes to an archive directory.
  DEPLOY_PRODUCTION.md
  QUICKSTART.md
  README.md
  SCRIPTS.md
  SETUP_GUIDE.md
  apps/api/README.md
  apps/api/docs/INDEX.md
  apps/api/docs/architecture.md
  apps/api/docs/atividade-data-model.md
  apps/api/docs/setup.md
  apps/web/README.md
  apps/web/docs/README.md
  docs/README.md
  docs/archive/README.md
  docs/archive/releases/README.md
  docs/archive/releases/RELEASE_NOTES.md
  docs/archive/releases/RELEASE_NOTES_0.2.0.md
  packages/db/INSTALL.md
  packages/db/README.md
Due: prettier --write

feat: Add contract association to TipoAtividade, update related schemas and forms, and refine repository types.
  apps/web/src/app/dashboard/cadastro/tipo-atividade/form.tsx
  apps/web/src/lib/interfaces/ICrudRepository.ts
  apps/web/src/lib/schemas/tipoAtividadeSchema.ts
  apps/web/src/lib/services/apr/AprTipoAtividadeVinculoService.ts
  apps/web/src/lib/services/auth/UserService.ts
  apps/web/src/lib/services/catalogo/TipoAtividadeService.ts
  apps/web/src/lib/services/checklist/ChecklistTipoEquipeVinculoService.ts
  apps/web/src/lib/services/checklist/ChecklistTipoVeiculoVinculoService.ts
  apps/web/src/lib/services/escala/EquipeHorarioVigenciaService.ts
  apps/web/src/lib/services/escala/EquipeTurnoHistoricoService.ts
  apps/web/src/lib/services/escala/EscalaEquipePeriodoService.ts
  apps/web/src/lib/services/escala/HorarioAberturaCatalogoService.ts
Due: none

feat: Refactor server actions to use `handleServerAction` for improved error handling and session management, remove debugging logs, and protect the user registration route.
  apps/web/src/app/cadastro/page.tsx
  apps/web/src/lib/actions/common/cadastrarUsuario.ts
  apps/web/src/lib/actions/contrato/list.ts
  apps/web/src/lib/actions/eletricista/getCurrentBase.ts
  apps/web/src/lib/actions/mobileContratoPermissao/deletePermissao.ts
  apps/web/src/lib/actions/mobileContratoPermissao/listPermissoes.ts
  apps/web/src/lib/actions/mobileContratoPermissao/setPermissao.ts
  apps/web/src/lib/actions/turno/getLocalizacoes.ts
  apps/web/src/lib/actions/veiculo/getCurrentBase.ts
  apps/web/src/lib/repositories/turnos/FaltaRepository.ts
  apps/web/src/middleware.ts
Due: none

refactor: Refactor test actions to utilize `handleServerAction` for consistent validation with Zod and streamlined error management.
  apps/web/src/lib/actions/test/test.ts
Due: none

refactor: extract client-side logic from `veiculo` and `equipe` registration pages into new dedicated client components.
  apps/web/src/app/dashboard/cadastro/equipe/page.tsx
  apps/web/src/app/dashboard/cadastro/veiculo/page.tsx
  apps/web/src/ui/pages/dashboard/cadastro/EquipePageClient.tsx
  apps/web/src/ui/pages/dashboard/cadastro/VeiculoPageClient.tsx
Due: none

refactor: extract client-side page logic into dedicated client components for dashboard pages.
  apps/web/src/app/dashboard/cadastro/eletricista/page.tsx
  apps/web/src/app/dashboard/frequencia/aderencia-escala/page.tsx
  apps/web/src/app/dashboard/turnos/page.tsx
  apps/web/src/ui/pages/dashboard/cadastro/EletricistaPageClient.tsx
  apps/web/src/ui/pages/dashboard/frequencia/AderenciaEscalaPageClient.tsx
  apps/web/src/ui/pages/dashboard/turnos/TurnosPageClient.tsx
Due: none

chore: Refactor ESLint configuration with new plugins and rules, introduce commit linting, and centralize Prisma schema definition.
  .env.example
  .eslintignore
  .github/workflows/api-ci.yml
  apps/api/package.json
  apps/api/src/modules/auth/modules/contract-permissions/services/contract-permissions.service.ts
  apps/api/src/modules/upload/storage/s3-storage.adapter.ts
  eslint.config.js
  package-lock.json
  package.json
  packages/db/package.json
  packages/db/prisma.config.ts
Due: eslint --fix, prettier --write

feat: Implement full CRUD for Subtipo Atividade (TipoAtividadeServico) including UI, actions, services, and schemas.
  apps/web/src/app/dashboard/cadastro/subtipo-atividade/page.tsx
  apps/web/src/lib/actions/tipoAtividadeServico/create.ts
  apps/web/src/lib/actions/tipoAtividadeServico/delete.ts
  apps/web/src/lib/actions/tipoAtividadeServico/list.ts
  apps/web/src/lib/actions/tipoAtividadeServico/update.ts
  apps/web/src/lib/constants/navigation.tsx
  apps/web/src/lib/repositories/catalogo/TipoAtividadeServicoRepository.ts
  apps/web/src/lib/schemas/tipoAtividadeServicoSchema.ts
  apps/web/src/lib/services/catalogo/TipoAtividadeServicoService.ts
  apps/web/src/lib/services/common/registerServices.ts
  apps/web/src/ui/pages/dashboard/cadastro/SubtipoAtividadePageClient.tsx
  apps/web/src/ui/pages/dashboard/cadastro/subtipo-atividade/form.tsx
Due: none

feat: Implement Material Catalog management functionality and remove obsolete database utility scripts.
  apps/web/src/app/dashboard/cadastro/material-catalogo/page.tsx
  apps/web/src/lib/actions/materialCatalogo/create.ts
  apps/web/src/lib/actions/materialCatalogo/createLote.ts
  apps/web/src/lib/actions/materialCatalogo/delete.ts
  apps/web/src/lib/actions/materialCatalogo/list.ts
  apps/web/src/lib/actions/materialCatalogo/update.ts
  apps/web/src/lib/constants/navigation.tsx
  apps/web/src/lib/repositories/catalogo/MaterialCatalogoRepository.ts
  apps/web/src/lib/schemas/materialCatalogoSchema.ts
  apps/web/src/lib/services/catalogo/MaterialCatalogoService.ts
  apps/web/src/lib/services/common/registerServices.ts
  apps/web/src/ui/pages/dashboard/cadastro/MaterialCatalogoPageClient.tsx
  apps/web/src/ui/pages/dashboard/cadastro/material-catalogo/form.tsx
  apps/web/src/ui/pages/dashboard/cadastro/material-catalogo/lote-form.tsx
  packages/db/check_migrations.ts
  packages/db/create_shadow_db.ts
  packages/db/create_temp_db.ts
  packages/db/examples/nextjs-usage.ts
  packages/db/examples/usage.ts
  packages/db/fix_drift.ts
Due: none

feat: Implement comprehensive management for activity form templates and questions, including new CRUD actions, services, repositories, schemas, UI pages, and navigation links.
  apps/web/src/app/dashboard/cadastro/formulario-atividade-pergunta/page.tsx
  apps/web/src/app/dashboard/cadastro/formulario-atividade/page.tsx
  apps/web/src/lib/actions/atividadeFormPergunta/create.ts
  apps/web/src/lib/actions/atividadeFormPergunta/delete.ts
  apps/web/src/lib/actions/atividadeFormPergunta/list.ts
  apps/web/src/lib/actions/atividadeFormPergunta/update.ts
  apps/web/src/lib/actions/atividadeFormTemplate/create.ts
  apps/web/src/lib/actions/atividadeFormTemplate/delete.ts
  apps/web/src/lib/actions/atividadeFormTemplate/get.ts
  apps/web/src/lib/actions/atividadeFormTemplate/list.ts
  apps/web/src/lib/actions/atividadeFormTemplate/update.ts
  apps/web/src/lib/constants/atividadeForm.ts
  apps/web/src/lib/constants/navigation.tsx
  apps/web/src/lib/repositories/catalogo/AtividadeFormPerguntaRepository.ts
  apps/web/src/lib/repositories/catalogo/AtividadeFormTemplateRepository.ts
  apps/web/src/lib/schemas/atividadeFormPerguntaSchema.ts
  apps/web/src/lib/schemas/atividadeFormTemplateSchema.ts
  apps/web/src/lib/services/catalogo/AtividadeFormPerguntaService.ts
  apps/web/src/lib/services/catalogo/AtividadeFormTemplateService.ts
  apps/web/src/lib/services/common/registerServices.ts
  apps/web/src/ui/pages/dashboard/cadastro/AtividadeFormularioPageClient.tsx
  apps/web/src/ui/pages/dashboard/cadastro/AtividadeFormularioPerguntaPageClient.tsx
  apps/web/src/ui/pages/dashboard/cadastro/formulario-atividade-pergunta/form.tsx
  apps/web/src/ui/pages/dashboard/cadastro/formulario-atividade/form.tsx
  db.session.sql
Due: none

feat: Add "Tipo de Atividade" filter to the Subtipo Atividade page, including server-side data fetching and a new `tableHeaderContent` prop for `CrudPage`.
  apps/web/src/app/dashboard/cadastro/subtipo-atividade/page.tsx
  apps/web/src/lib/components/CrudPage.tsx
  apps/web/src/ui/pages/dashboard/cadastro/SubtipoAtividadePageClient.tsx
Due: none

feat: Implement the "Atividades" dashboard section with overview, materials, and meters pages, including new actions and UI components.
  apps/web/src/app/dashboard/atividades/materiais/page.tsx
  apps/web/src/app/dashboard/atividades/medidores/page.tsx
  apps/web/src/app/dashboard/atividades/page.tsx
  apps/web/src/app/dashboard/atividades/visao-geral/page.tsx
  apps/web/src/lib/actions/atividade/_common.ts
  apps/web/src/lib/actions/atividade/listExecucoes.ts
  apps/web/src/lib/actions/atividade/listMateriais.ts
  apps/web/src/lib/actions/atividade/listMedidores.ts
  apps/web/src/lib/constants/navigation.tsx
  apps/web/src/lib/types/atividadeDashboard.ts
  apps/web/src/ui/pages/dashboard/atividades/AtividadesMateriaisPageClient.tsx
  apps/web/src/ui/pages/dashboard/atividades/AtividadesMedidoresPageClient.tsx
  apps/web/src/ui/pages/dashboard/atividades/AtividadesTableFilters.tsx
  apps/web/src/ui/pages/dashboard/atividades/AtividadesVisaoGeralPageClient.tsx
  apps/web/src/ui/pages/dashboard/atividades/useAtividadesFilterOptions.ts
Due: none

feat: Add modal to display shift activities, materials, and medidores.
  apps/web/src/app/dashboard/turnos/components/TurnosAbertosTable.tsx
  apps/web/src/ui/components/TurnoAtividadesModal.tsx
  apps/web/src/ui/pages/dashboard/turnos/HistoricoPageClient.tsx
  apps/web/src/ui/pages/dashboard/turnos/TurnosPageClient.tsx
Due: none

feat: adicao de busca por placa de veiculo na visao geral da frequencia
  apps/web/src/app/dashboard/frequencia/visao-geral/page.tsx
  apps/web/src/lib/constants/navigation.tsx
  apps/web/src/ui/pages/dashboard/frequencia/FrequenciaVisaoGeralPageClient.tsx
Due: none

feat: Implement full CRUD functionality for APR Question Groups, including UI, services, repositories, and database schema.
  apps/web/src/app/dashboard/cadastro/apr-grupo-pergunta/page.tsx
  apps/web/src/app/dashboard/cadastro/apr-modelo/page.tsx
  apps/web/src/lib/actions/aprGrupoPergunta/create.ts
  apps/web/src/lib/actions/aprGrupoPergunta/delete.ts
  apps/web/src/lib/actions/aprGrupoPergunta/get.ts
  apps/web/src/lib/actions/aprGrupoPergunta/list.ts
  apps/web/src/lib/actions/aprGrupoPergunta/update.ts
  apps/web/src/lib/constants/navigation.tsx
  apps/web/src/lib/repositories/apr/AprGrupoPerguntaRepository.ts
  apps/web/src/lib/repositories/apr/AprRepository.ts
  apps/web/src/lib/schemas/aprGrupoPerguntaSchema.ts
  apps/web/src/lib/schemas/aprSchema.ts
  apps/web/src/lib/services/apr/AprGrupoPerguntaService.ts
  apps/web/src/lib/services/apr/AprService.ts
  apps/web/src/lib/services/common/registerServices.ts
  apps/web/src/ui/pages/dashboard/cadastro/AprGrupoPerguntaPageClient.tsx
  apps/web/src/ui/pages/dashboard/cadastro/AprModeloPageClient.tsx
  apps/web/src/ui/pages/dashboard/cadastro/apr-grupo-pergunta/form.tsx
  apps/web/src/ui/pages/dashboard/cadastro/apr-modelo/components/AprModal.tsx
  apps/web/src/ui/pages/dashboard/cadastro/apr-modelo/components/AprTable.tsx
  apps/web/src/ui/pages/dashboard/cadastro/apr-modelo/form.tsx
  packages/db/prisma/models/apr.prisma
  packages/db/prisma/models/migrations/20260224010000_apr_grupos_perguntas/migration.sql
Due: none

feat: Add new APR (Análise Preliminar de Risco) related collections and types for activity synchronization.
  apps/api/src/modules/sync/README.md
  apps/api/src/modules/sync/sync-collection.types.ts
  apps/api/src/modules/sync/sync-collections.def.ts
  apps/api/src/modules/sync/sync.controller.ts
Due: eslint --fix, prettier --write

feat: Add APR (Preliminary Risk Analysis) upload functionality, including responses and signatures, with new database models, API contracts, and service logic.
  apps/api/src/contracts/atividade-upload/atividade-upload.contract.ts
  apps/api/src/modules/atividade-upload/README.md
  apps/api/src/modules/atividade-upload/atividade-upload.controller.ts
  apps/api/src/modules/atividade-upload/atividade-upload.service.ts
  apps/api/src/modules/atividade-upload/dto/atividade-upload.dto.ts
  packages/db/prisma/models/apr.prisma
  packages/db/prisma/models/atividade.prisma
  packages/db/prisma/models/eletricista.prisma
  packages/db/prisma/models/migrations/20260224173000_add_atividade_apr_execucao/migration.sql
  packages/db/prisma/models/turno.prisma
Due: eslint --fix, prettier --write

chore: Rename `AtividadeAprResposta` index to `idx_apr_resp_apr_ord`.
  packages/db/prisma/models/atividade.prisma
  packages/db/prisma/models/migrations/20260224173000_add_atividade_apr_execucao/migration.sql
Due: none

feat: Enhance `useEntityData` SWR parameter passing logic and make NextAuth.js debug mode explicitly opt-in via environment variable.
  apps/web/src/lib/hooks/useEntityData.ts
  apps/web/src/lib/utils/auth.config.ts
Due: none

chore: remover arquivo temporário db.session.sql
  db.session.sql
Due: none

feat: Replace 'Turno' column with 'Nº OS' in the activities overview table.
  apps/web/src/ui/pages/dashboard/atividades/AtividadesVisaoGeralPageClient.tsx
Due: none

feat: Implement activity execution details modal to display comprehensive information including materials, responses, events, and APR data.
  apps/web/src/lib/actions/atividade/getExecucaoDetalhe.ts
  apps/web/src/lib/types/atividadeDashboard.ts
  apps/web/src/ui/pages/dashboard/atividades/AtividadeExecucaoDetalhesModal.tsx
  apps/web/src/ui/pages/dashboard/atividades/AtividadesTableFilters.tsx
  apps/web/src/ui/pages/dashboard/atividades/AtividadesVisaoGeralPageClient.tsx
  apps/web/src/ui/pages/dashboard/atividades/useAtividadesFilterOptions.ts
Due: none

feat: Filter dashboard activities by 'finalizada' status and refine table UI with column adjustments.
  apps/web/src/app/dashboard/atividades/visao-geral/page.tsx
  apps/web/src/lib/actions/atividade/_common.ts
  apps/web/src/ui/pages/dashboard/atividades/AtividadesVisaoGeralPageClient.tsx
Due: none

feat: introduce script and configuration for consolidating legacy photo uploads to a unified path structure.
  .env.example
  apps/api/src/core/config/README.md
  apps/api/src/core/config/configure-app.ts
  apps/api/src/core/config/env.ts
  apps/api/src/core/config/workspace-paths.ts
  apps/web/next.config.ts
  apps/web/src/lib/utils/photos.ts
  apps/web/src/ui/pages/dashboard/atividades/AtividadeExecucaoDetalhesModal.tsx
  docs/02-configuracao-env.md
  docs/05-upload-fotos-e-arquivos.md
  package.json
  scripts/consolidate-legacy-photos.cjs
Due: eslint --fix, prettier --write

feat: Implement evidence linking and expand canonical photo metadata for uploads, including new service, DTO fields, and handler updates.
  apps/api/src/contracts/upload/upload.contract.ts
  apps/api/src/modules/upload/dto/upload-request.dto.ts
  apps/api/src/modules/upload/evidence/apr-evidence.handler.ts
  apps/api/src/modules/upload/evidence/atividade-turno.handler.ts
  apps/api/src/modules/upload/evidence/checklist-assinatura.handler.ts
  apps/api/src/modules/upload/evidence/checklist-reprova.handler.ts
  apps/api/src/modules/upload/evidence/common-metadata-spec.ts
  apps/api/src/modules/upload/evidence/evidence.handler.ts
  apps/api/src/modules/upload/evidence/medidor.handler.spec.ts
  apps/api/src/modules/upload/evidence/medidor.handler.ts
  apps/api/src/modules/upload/evidence/upload-evidence-link.service.ts
  apps/api/src/modules/upload/upload.module.ts
  apps/api/src/modules/upload/upload.service.ts
  apps/web/src/lib/actions/atividade/getExecucaoDetalhe.ts
  apps/web/src/ui/pages/dashboard/atividades/AtividadeExecucaoDetalhesModal.tsx
  packages/db/prisma/models/migrations/20260301110000_add_upload_evidence_links/migration.sql
  packages/db/prisma/models/migrations/20260301151636_drift_check/migration.sql
  packages/db/prisma/models/mobile-upload.prisma
Due: eslint --fix, prettier --write

feat: Enhance upload evidence details with new contextual fields and improved categorization for display in the activity execution modal.
  apps/web/src/lib/types/atividadeDashboard.ts
  apps/web/src/ui/pages/dashboard/atividades/AtividadeExecucaoDetalhesModal.tsx
Due: none

Path conditions:
  eslint --fix: any of: apps/api/**/*.{ts,tsx,js,mjs}
  prettier --write: (any of: apps/api/**/*.{ts,tsx,js,mjs}) or (any of: **/*.{json,md,yml,yaml})
