Repository xavierheitor/nexa-oper: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

correcoes no proceso da escala
  apps/web/src/app/dashboard/cadastro/escala-equipe-periodo/edit-wizard.tsx
  apps/web/src/app/dashboard/cadastro/escala-equipe-periodo/page.tsx
  apps/web/src/app/dashboard/escalas/edicao-em-curso/page.tsx
  apps/web/src/lib/actions/escala/edicaoEmCurso.ts
  apps/web/src/lib/actions/escala/escalaEquipePeriodo.ts
  apps/web/src/lib/schemas/escalaSchemas.ts
  apps/web/src/lib/services/escala/EscalaEquipePeriodoService.ts
  apps/web/src/ui/components/CalendarioFrequencia.tsx
  apps/web/src/ui/components/SidebarMenu.tsx
Due: none

correcoes no logou, auth, e escalas
  apps/web/src/app/dashboard/cadastro/escala-equipe-periodo/edit-wizard.tsx
  apps/web/src/app/dashboard/escalas/edicao-em-curso/page.tsx
  apps/web/src/app/dashboard/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/lib/components/AuthGuard.tsx
  apps/web/src/lib/components/README_AUTH.md
  apps/web/src/lib/hooks/useAuth.ts
  apps/web/src/lib/services/escala/EscalaEquipePeriodoService.ts
  apps/web/src/lib/types/permissions.ts
  apps/web/src/lib/utils/redirectHandler.ts
  apps/web/src/middleware.ts
  apps/web/src/ui/components/SidebarMenu.tsx
Due: prettier --write

adicao de filtros no web
  apps/api/docs/DOCUMENTACAO_COMPLETA.md
  apps/api/docs/INDEX.md
  apps/web/src/app/dashboard/historico/page.tsx
  apps/web/src/lib/services/escala/EscalaEquipePeriodoService.ts
Due: prettier --write

correção de problemas de paginação
  apps/web/src/app/dashboard/historico/page.tsx
  apps/web/src/app/dashboard/relatorios/aderencia-equipe/page.tsx
  apps/web/src/app/dashboard/relatorios/bases/components/ConsolidacaoPorBase.tsx
  apps/web/src/app/dashboard/relatorios/eletricistas/components/EletricistasDetalhado.tsx
  apps/web/src/app/dashboard/relatorios/equipes/components/EquipesSemHorario.tsx
  apps/web/src/app/dashboard/relatorios/turnos-por-periodo/components/TurnosPorPeriodo.tsx
  apps/web/src/app/dashboard/turnos/page.tsx
  apps/web/src/lib/hooks/useTablePagination.ts
Due: none

implementação de reconciliação forçada dos turnos
  apps/api/src/modules/turno-realizado/dto/reconciliar-forcado.dto.ts
  apps/api/src/modules/turno-realizado/turno-realizado.controller.ts
  apps/api/src/modules/turno-realizado/turno-reconciliacao.service.ts
  apps/web/src/app/dashboard/frequencia/reconciliacao-manual/page.tsx
Due: eslint --fix, prettier --write

adição e prolongamento de escala imlementado e testado
  apps/web/src/app/dashboard/cadastro/escala-equipe-periodo/edit-wizard.tsx
  apps/web/src/app/dashboard/cadastro/escala-equipe-periodo/wizard.tsx
  apps/web/src/lib/services/escala/EscalaEquipePeriodoService.ts
  apps/web/src/lib/services/escala/escalaHelpers.ts
Due: none

justificativas de faltas
  apps/api/src/modules/justificativas/justificativas.controller.ts
  apps/api/src/modules/justificativas/justificativas.service.ts
  apps/api/src/modules/turno-realizado/turno-reconciliacao.service.ts
  apps/web/src/app/dashboard/cadastro/tipo-justificativa/form.tsx
  apps/web/src/app/dashboard/cadastro/tipo-justificativa/page.tsx
  apps/web/src/app/dashboard/frequencia/faltas/page.tsx
  apps/web/src/app/dashboard/frequencia/justificativas-equipe/criar/page.tsx
  apps/web/src/app/dashboard/frequencia/justificativas-equipe/page.tsx
  apps/web/src/lib/actions/justificativa-equipe/listCasosPendentes.ts
  apps/web/src/lib/actions/justificativa/criarJustificativa.ts
  apps/web/src/lib/schemas/turnoRealizadoSchema.ts
  apps/web/src/ui/components/FaltaTable.tsx
  packages/db/prisma/models/equipe.prisma
  packages/db/prisma/models/historico-turnos.prisma
  packages/db/prisma/models/migrations/20251204131722_adicao_de_justificativas/migration.sql
Due: eslint --fix, prettier --write

graficos de turnos porti de equipe
  apps/web/src/app/dashboard/historico/page.tsx
  apps/web/src/app/dashboard/page.tsx
  apps/web/src/app/dashboard/turnos/page.tsx
  apps/web/src/lib/actions/turno/getStatsByBase.ts
Due: none

adição da recoonciliação no menu
  apps/web/src/ui/components/SidebarMenu.tsx
Due: none

melhoria dos report de turno por periodo
  apps/web/src/app/dashboard/frequencia/justificativas-equipe/criar/page.tsx
  apps/web/src/app/dashboard/relatorios/turnos-por-periodo/components/TurnosPorPeriodo.tsx
  apps/web/src/lib/actions/justificativa/criarJustificativa.ts
  apps/web/src/lib/actions/relatorios/relatoriosTurnos.ts
Due: none

adição d motorista
  apps/api/src/modules/turno/controllers/turno-mobile.controller.ts
  apps/api/src/modules/turno/dto/abrir-turno.dto.ts
  apps/api/src/modules/turno/services/turno.service.ts
  apps/web/src/app/dashboard/relatorios/turnos-por-periodo/components/TurnosPorPeriodo.tsx
  apps/web/src/lib/actions/relatorios/relatoriosTurnos.ts
  apps/web/src/lib/repositories/TurnoRepository.ts
  packages/db/prisma/models/migrations/20251207200305_add_motorista_to_turno_eletricista/migration.sql
  packages/db/prisma/models/turno.prisma
Due: eslint --fix, prettier --write

mostrar motirista
  apps/web/src/app/dashboard/historico/page.tsx
  apps/web/src/app/dashboard/turnos/page.tsx
  apps/web/src/lib/repositories/TurnoRepository.ts
Due: none

commitando versao final
  apps/api/package.json
  apps/web/eslint.config.mjs
  apps/web/package.json
Due: prettier --write

coemntarios
  DEPLOY_PRODUCTION.md
  PULL_REQUEST.md
  RELEASE_NOTES.md
Due: prettier --write

ko
  ANALISE_ERRO_PRODUCAO.md
  apps/api/src/common/filters/all-exceptions.filter.ts
Due: eslint --fix, prettier --write

reconciliação via server aciton
  ANALISE_ERRO_PRODUCAO.md
  apps/api/src/common/filters/all-exceptions.filter.ts
  apps/web/src/app/dashboard/frequencia/reconciliacao-manual/page.tsx
  apps/web/src/lib/actions/turno-realizado/reconciliarManual.ts
Due: eslint --fix, prettier --write

subindo correção de versoes
  apps/api/package.json
  apps/web/package.json
  package-lock.json
Due: prettier --write

relatorio seguranca
  docs/RELATORIO_SEGURANCA.md
Due: prettier --write

implementando pendencias de checklist
  ANALISE_PENDENCIAS_CHECKLIST.md
  apps/api/src/modules/mobile-upload/services/mobile-photo-upload.service.ts
  apps/web/src/app/dashboard/seguranca/checklists-pendentes/form.tsx
  apps/web/src/app/dashboard/seguranca/checklists-pendentes/page.tsx
  apps/web/src/app/dashboard/seguranca/relatorio/page.tsx
  apps/web/src/lib/actions/checklistPendencia/get.ts
  apps/web/src/lib/actions/checklistPendencia/list.ts
  apps/web/src/lib/actions/checklistPendencia/update.ts
  apps/web/src/lib/repositories/ChecklistPendenciaRepository.ts
  apps/web/src/lib/schemas/checklistPendenciaSchema.ts
  apps/web/src/lib/services/ChecklistPendenciaService.ts
  apps/web/src/lib/services/common/registerServices.ts
  apps/web/src/lib/utils/logger.ts
  apps/web/src/ui/components/SidebarMenu.tsx
Due: eslint --fix, prettier --write

correcao de erro no criar lote
  apps/web/src/lib/actions/eletricista/createLote.ts
Due: none

implementado telas de relatorio
  apps/web/src/app/dashboard/seguranca/checklists-pendentes/page.tsx
  apps/web/src/app/dashboard/seguranca/relatorio/page.tsx
  apps/web/src/lib/actions/seguranca/getReprovasPorEquipe.ts
  apps/web/src/lib/actions/seguranca/getReprovasPorPergunta.ts
  apps/web/src/lib/actions/seguranca/getReprovasPorTipoChecklist.ts
  apps/web/src/ui/components/SidebarMenu.tsx
Due: none

ais um
  apps/web/src/app/dashboard/seguranca/relatorio/page.tsx
  apps/web/src/lib/actions/seguranca/getReprovasPorEquipe.ts
  apps/web/src/lib/actions/seguranca/getReprovasPorPergunta.ts
  apps/web/src/lib/actions/seguranca/getReprovasPorTipoChecklist.ts
Due: none

pagina de consulta de checklist
  apps/web/src/app/dashboard/seguranca/consulta-checklists/[id]/page.tsx
  apps/web/src/app/dashboard/seguranca/consulta-checklists/page.tsx
  apps/web/src/lib/actions/checklist/getPreenchidoById.ts
  apps/web/src/lib/actions/checklist/listPreenchidos.ts
  apps/web/src/ui/components/SidebarMenu.tsx
Due: none

orreções de bugs
  apps/web/src/lib/actions/checklist/getPreenchidoById.ts
  apps/web/src/lib/actions/checklist/listPreenchidos.ts
Due: none

docs: adiciona changelog com release notes das melhorias no módulo de segurança
  CHANGELOG.md
Due: prettier --write

correcao de dias
  CHANGELOG.md
  apps/web/src/app/dashboard/cadastro/escala-equipe-periodo/wizard.tsx
Due: prettier --write

remocao da validacao de 3 eletricistas pra abrir turno na escala 4x2
  apps/web/src/lib/services/escala/EscalaEquipePeriodoService.ts
Due: none

atualização do ecosystem
  ecosystem.config.js
  ecosystem.config.js.example
Due: none

implementação de monitor de gaps na localização
  apps/web/src/lib/actions/turno/getLocalizacoes.ts
  apps/web/src/ui/components/TurnoLocationMapModal.tsx
Due: none

melhorias no acompanhameento de localização
  apps/web/src/app/dashboard/relatorios/localizacao/components/EquipesMaiorTempoSemCaptura.tsx
  apps/web/src/app/dashboard/relatorios/localizacao/components/EquipesMenosLocalizacoes.tsx
  apps/web/src/app/dashboard/relatorios/localizacao/page.tsx
  apps/web/src/lib/actions/relatorios/relatoriosLocalizacao.ts
  apps/web/src/ui/components/SidebarMenu.tsx
Due: none

correçõees no relatorio de lcalização
  apps/web/src/app/dashboard/relatorios/localizacao/components/EquipesMaiorTempoSemCaptura.tsx
  apps/web/src/app/dashboard/relatorios/localizacao/components/EquipesMenosLocalizacoes.tsx
  apps/web/src/app/dashboard/relatorios/localizacao/page.tsx
  apps/web/src/lib/actions/relatorios/relatoriosLocalizacao.ts
Due: none

reorganizando comentarios
  RELEASE_NOTES.md
  apps/api/README.md
  apps/api/docs/ANALISE_FINAL_PRODUCAO.md
  apps/api/docs/ANALISE_MODULOS_API.md
  apps/api/docs/ANALISE_TODOS.md
  apps/api/docs/REVISAO_CRITICA_ENGENHARIA.md
  docs/ANALISE_ERRO_PRODUCAO.md
  docs/ANALISE_PENDENCIAS_CHECKLIST.md
  docs/PULL_REQUEST.md
  docs/TESTES_PENDENTES.md
  docs/TIMEZONE_CONFIG.md
Due: prettier --write

corrcoes e reorganizacoes
  deploy.sh
  ecosystem.config.js.example
Due: none

implementado circuito breaker no modulo turno
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/common/circuit-breaker/circuit-breaker.module.ts
  apps/api/src/common/circuit-breaker/circuit-breaker.service.ts
  apps/api/src/common/circuit-breaker/index.ts
  apps/api/src/modules/turno/CQRS_EVENT_SOURCING_CIRCUIT_BREAKER.md
  apps/api/src/modules/turno/controllers/turno.controller.ts
  apps/api/src/modules/turno/cqrs/commands/close-turno.command.ts
  apps/api/src/modules/turno/cqrs/commands/create-turno.command.ts
  apps/api/src/modules/turno/cqrs/commands/delete-turno.command.ts
  apps/api/src/modules/turno/cqrs/handlers/close-turno.handler.ts
  apps/api/src/modules/turno/cqrs/handlers/create-turno.handler.ts
  apps/api/src/modules/turno/cqrs/handlers/delete-turno.handler.ts
  apps/api/src/modules/turno/cqrs/handlers/get-turno-by-id.handler.ts
  apps/api/src/modules/turno/cqrs/handlers/get-turnos-for-sync.handler.ts
  apps/api/src/modules/turno/cqrs/handlers/get-turnos.handler.ts
  apps/api/src/modules/turno/cqrs/index.ts
  apps/api/src/modules/turno/cqrs/queries/get-turno-by-id.query.ts
  apps/api/src/modules/turno/cqrs/queries/get-turnos-for-sync.query.ts
  apps/api/src/modules/turno/cqrs/queries/get-turnos.query.ts
  apps/api/src/modules/turno/events/handlers/turno-event.handler.ts
  apps/api/src/modules/turno/events/index.ts
  apps/api/src/modules/turno/events/turno-closed.event.ts
  apps/api/src/modules/turno/events/turno-created.event.ts
  apps/api/src/modules/turno/events/turno-deleted.event.ts
  apps/api/src/modules/turno/events/turno-updated.event.ts
  apps/api/src/modules/turno/examples/circuit-breaker-example.ts
  apps/api/src/modules/turno/turno.module.ts
  package-lock.json
Due: eslint --fix, prettier --write

implementação do acompanhamento de aderencia de escala
  apps/web/src/app/dashboard/turnos/page.tsx
  apps/web/src/lib/actions/turno/getEstatisticasTurnosPrevistos.ts
  apps/web/src/lib/actions/turno/getTurnosPrevistos.ts
  apps/web/src/lib/types/turnoPrevisto.ts
  apps/web/src/lib/utils/turnoPrevistoHelpers.ts
Due: none

correção de erros, reltorio de aderencia, e implementação de modall de cadastro de horario
  apps/web/src/app/dashboard/cadastro/equipe-horario/form.tsx
  apps/web/src/app/dashboard/cadastro/equipe-horario/page.tsx
  apps/web/src/app/dashboard/escalas/edicao-em-curso/page.tsx
  apps/web/src/app/dashboard/seguranca/checklists-pendentes/page.tsx
Due: none

implementado snapshot da aderencia de escala
  apps/web/instrumentation.ts
  apps/web/package.json
  apps/web/src/lib/actions/turno/atualizarSnapshotAposAbertura.ts
  apps/web/src/lib/actions/turno/gerarSnapshotAderencia.ts
  apps/web/src/lib/actions/turno/listarSnapshotsAderencia.ts
  apps/web/src/lib/services/README_SCHEDULER.md
  apps/web/src/lib/services/scheduler.service.ts
  apps/web/src/lib/utils/shutdown.ts
  package-lock.json
  packages/db/prisma/models/aderencia-escala-snapshot.prisma
  packages/db/prisma/models/equipe.prisma
  packages/db/prisma/models/escala.prisma
  packages/db/prisma/models/turno.prisma
Due: prettier --write

mellhorias no sistema de reconciliação
  apps/api/src/modules/turno-realizado/turno-realizado.controller.ts
  apps/api/src/modules/turno-realizado/turno-realizado.module.ts
  apps/api/src/modules/turno-realizado/turno-realizado.service.ts
  apps/api/src/modules/turno-realizado/turno-reconciliacao-scheduler.service.ts
  apps/api/src/modules/turno-realizado/turno-reconciliacao.service.ts
  apps/web/src/app/dashboard/frequencia/justificativas-equipe/page.tsx
  apps/web/src/app/dashboard/frequencia/reconciliacao-manual/page.tsx
  apps/web/src/lib/actions/turno-realizado/reconciliarForcado.ts
  apps/web/src/lib/actions/turno-realizado/reconciliarManual.ts
  apps/web/src/lib/actions/turno/executarReconciliacaoDiaria.ts
  apps/web/src/lib/actions/turno/reconciliarDiaEquipe.ts
  apps/web/src/lib/components/README_AUTH.md
  apps/web/src/lib/services/README_SCHEDULER.md
  apps/web/src/lib/services/scheduler.service.ts
Due: eslint --fix, prettier --write

reorganização das paginas
  apps/web/src/app/dashboard/frequencia/justificativas-equipe/page.tsx
  apps/web/src/app/dashboard/frequencia/visao-geral/page.tsx
  apps/web/src/lib/actions/justificativa-equipe/listCasosPendentes.ts
  apps/web/src/ui/components/SidebarMenu.tsx
Due: none

reorganizações
  apps/web/src/app/dashboard/historico/page.tsx
  apps/web/src/app/dashboard/turnos/page.tsx
  apps/web/src/lib/actions/turno/getStatsByHora.ts
  apps/web/src/lib/actions/turno/getStatsByHoraETipoEquipe.ts
  apps/web/src/lib/utils/dateHelpers.ts
  apps/web/src/ui/components/SidebarMenu.tsx
Due: none

Path conditions:
  eslint --fix: any of: apps/api/**/*.{ts,tsx,js,mjs}
  prettier --write: (any of: apps/api/**/*.{ts,tsx,js,mjs}) or (any of: **/*.{json,md,yml,yaml})
