Repository xavierheitor/nexa-oper: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

melhorias na viauzlização do checklist
  apps/web/src/app/dashboard/seguranca/consulta-checklists/[id]/page.tsx
Due: none

corrreção de erros de typcheck
  apps/web/src/lib/actions/escala/equipeTurnoHistorico.ts
  apps/web/src/lib/repositories/escala/EquipeTurnoHistoricoRepository.ts
  apps/web/src/lib/services/escala/EquipeTurnoHistoricoService.ts
Due: none

adição de filtros
  apps/web/src/app/dashboard/turnos/page.tsx
Due: none

correcoes e melhorias na reconciliacao - ainda nao ta funcionando
  apps/api/src/common/utils/date-timezone.ts
  apps/api/src/config/validation.ts
  apps/api/src/database/database.service.ts
  apps/api/src/modules/internal-reconciliacao/internal-reconciliacao.service.ts
  apps/api/src/modules/internal-reconciliacao/reconciliacao.scheduler.ts
  apps/api/src/modules/turno-realizado/turno-realizado.controller.ts
  apps/api/src/modules/turno-realizado/turno-realizado.service.ts
  apps/api/src/modules/turno/services/turno.service.ts
  apps/web/src/app/dashboard/frequencia/reconciliacao-manual/components/ResultadoForcadoCard.tsx
  apps/web/src/app/dashboard/frequencia/reconciliacao-manual/page.tsx
  apps/web/src/app/dashboard/historico/page.tsx
  apps/web/src/lib/db/db.service.ts
  apps/web/src/lib/repositories/justificativas/JustificativaEquipeRepository.ts
  apps/web/src/lib/repositories/turnos/FaltaRepository.ts
  apps/web/src/lib/utils/dateHelpers.ts
Due: eslint --fix, prettier --write

relatorio de eletricistas nao escalados
  apps/api/src/modules/internal-reconciliacao/internal-reconciliacao.service.ts
  apps/web/src/app/dashboard/relatorios/bases/components/EletricistasNaoEscalados.tsx
  apps/web/src/app/dashboard/relatorios/bases/page.tsx
  apps/web/src/lib/actions/relatorios/relatoriosBases.ts
Due: eslint --fix, prettier --write

exportar lista de eletricistas nao escalados
  apps/web/src/app/dashboard/relatorios/bases/components/EletricistasNaoEscalados.tsx
Due: none

melhorias, no web de relatorios e escalas
  apps/web/src/app/dashboard/escalas/edicao-em-curso/page.tsx
  apps/web/src/app/dashboard/frequencia/visao-geral/page.tsx
  apps/web/src/app/dashboard/turnos/page.tsx
  apps/web/src/lib/actions/escala/edicaoEmCurso.ts
  apps/web/src/lib/actions/escala/getSlotsEscalaEquipePeriodo.ts
Due: none

reorganização das paginas
  apps/web/docs/ANALISE_PADRONIZACAO_ERROS.md
  apps/web/src/app/dashboard/turnos/historico/page.tsx
  apps/web/src/ui/components/SidebarMenu.tsx
  docs/PULL_REQUEST.md
Due: prettier --write

reorganizacao do codigo
  apps/web/docs/CODE_ANALYSIS.md
  apps/web/src/app/dashboard/escalas/edicao-em-curso/page.tsx
  apps/web/src/app/dashboard/escalas/equipe-horario/form.tsx
  apps/web/src/app/dashboard/escalas/equipe-horario/page.tsx
  apps/web/src/app/dashboard/escalas/escala-equipe-periodo/edit-wizard.tsx
  apps/web/src/app/dashboard/escalas/escala-equipe-periodo/form.tsx
  apps/web/src/app/dashboard/escalas/escala-equipe-periodo/page.tsx
  apps/web/src/app/dashboard/escalas/escala-equipe-periodo/visualizacao-geral.tsx
  apps/web/src/app/dashboard/escalas/escala-equipe-periodo/visualizar.tsx
  apps/web/src/app/dashboard/escalas/escala-equipe-periodo/wizard.tsx
  apps/web/src/app/dashboard/page.tsx
  apps/web/src/lib/hooks/useDashboardData.ts
  apps/web/src/ui/components/SidebarMenu.tsx
Due: prettier --write

correcao no menu lateral
  apps/web/src/app/dashboard/cadastro/base/form.tsx
  apps/web/src/app/dashboard/layout.tsx
  apps/web/src/lib/constants/navigation.tsx
  apps/web/src/ui/components/SidebarMenu.tsx
  apps/web/src/ui/components/sidebar-menu.css
Due: none

remoção de conversoees de tipo erradas
  apps/web/src/lib/abstracts/AbstractCrudService.ts
  apps/web/src/lib/interfaces/ICrudRepository.ts
  apps/web/src/lib/services/infraestrutura/BaseService.ts
  apps/web/src/lib/services/pessoas/EletricistaService.ts
Due: none

correção do card de turnos nao abertos
  apps/web/src/app/dashboard/turnos/page.tsx
Due: none

otimizaçõoe de repositoros ineficientes
  apps/web/src/lib/repositories/escala/EscalaEquipePeriodoRepository.ts
  apps/web/src/lib/repositories/infraestrutura/EquipeRepository.ts
  apps/web/src/lib/repositories/infraestrutura/VeiculoRepository.ts
  apps/web/src/lib/repositories/pessoas/EletricistaRepository.ts
  apps/web/src/ui/components/AlterarStatusModal.tsx
Due: none

otimizações pagina de hisorico de turnos
  apps/web/docs/CODE_ANALYSIS.md
  apps/web/src/app/dashboard/turnos/historico/page.tsx
  apps/web/src/app/dashboard/turnos/page.tsx
  apps/web/src/lib/actions/turno/getDailyStats.ts
  apps/web/src/lib/actions/turno/getStatsByBase.ts
  apps/web/src/lib/actions/turno/getStatsByHoraETipoEquipe.ts
  apps/web/src/lib/actions/turno/getStatsByTipoEquipe.ts
  apps/web/src/lib/mappers/turnoMapper.ts
  apps/web/src/lib/types/turno-frontend.ts
Due: prettier --write

otimizações de paginas - refatorado pagina de turnos
  apps/web/src/app/dashboard/turnos/page.tsx
  apps/web/src/lib/actions/turno/getTurnosAbertosComStats.ts
Due: none

otimizacao das paginas
  apps/web/src/app/dashboard/escalas/edicao-em-curso/page.tsx
  apps/web/src/lib/actions/escala/getEscalasPublicadasProcessadas.ts
Due: none

implementado relatorio de veiculos
  apps/web/src/app/dashboard/relatorios/veiculos/components/VeiculosListagem.tsx
  apps/web/src/app/dashboard/relatorios/veiculos/page.tsx
  apps/web/src/lib/actions/turno-realizado/getConsolidadoEletricista.ts
Due: none

refatorado pagina de visao geral de turnos
  apps/web/src/app/dashboard/turnos/components/TurnosAbertosTable.tsx
  apps/web/src/app/dashboard/turnos/components/TurnosCharts.tsx
  apps/web/src/app/dashboard/turnos/components/TurnosFilters.tsx
  apps/web/src/app/dashboard/turnos/components/TurnosKPIs.tsx
  apps/web/src/app/dashboard/turnos/components/TurnosNaoAbertosTable.tsx
  apps/web/src/app/dashboard/turnos/components/TurnosPrevistosStats.tsx
  apps/web/src/app/dashboard/turnos/components/TurnosPrevistosTable.tsx
  apps/web/src/app/dashboard/turnos/page.tsx
  apps/web/src/app/dashboard/turnos/types.ts
  apps/web/src/lib/actions/turno/getTurnosAbertosComStats.ts
  apps/web/src/lib/actions/turno/getTurnosPrevistos.ts
  apps/web/src/lib/types/turnoPrevisto.ts
Due: none

coreção de calendari de turnos
  apps/web/src/lib/actions/turno-realizado/getConsolidadoEletricista.ts
  apps/web/src/ui/components/CalendarioFrequencia.tsx
Due: none

mehoria calendario
  apps/web/src/lib/actions/turno-realizado/getConsolidadoEletricista.ts
  apps/web/src/ui/components/CalendarioFrequencia.tsx
Due: none

melhorias
  apps/web/src/app/dashboard/frequencia/visao-geral/page.tsx
  apps/web/src/ui/components/HistoricoTable.tsx
Due: none

filttro de turno extra
  apps/web/src/app/dashboard/turnos/components/TurnosPrevistosTable.tsx
  apps/web/src/app/dashboard/turnos/page.tsx
Due: none

novo card
  apps/web/src/app/dashboard/turnos/components/TurnosMatrixTable.tsx
  apps/web/src/app/dashboard/turnos/page.tsx
Due: none

refatoração pagina frequencia visao geral
  apps/web/src/app/dashboard/frequencia/justificativas-equipe/page.tsx
  apps/web/src/app/dashboard/frequencia/visao-geral/page.tsx
Due: none

subindo versao
  RELEASE_NOTES_0.2.0.md
  apps/web/package.json
Due: prettier --write

correcoes
  apps/web/src/app/dashboard/escalas/edicao-em-curso/components/SubstituirEletricistaModal.tsx
  apps/web/src/app/dashboard/escalas/edicao-em-curso/page.tsx
  apps/web/src/app/dashboard/turnos/components/TurnosNaoAbertosTable.tsx
  apps/web/src/app/dashboard/turnos/components/TurnosPrevistosTable.tsx
  apps/web/src/lib/actions/escala/substituirEletricista.ts
Due: none

correcoes feitas, na matriz de turnos previstos
  apps/web/src/app/dashboard/turnos/components/TurnosPrevistosTable.tsx
  apps/web/src/app/dashboard/turnos/page.tsx
Due: none

correcao
  apps/web/src/lib/actions/turno-realizado/getConsolidadoEletricista.ts
Due: none

remocao da reconciliacao do projeto web
  apps/web/src/app/dashboard/frequencia/reconciliacao-manual/components/InformacoesCard.tsx
  apps/web/src/app/dashboard/frequencia/reconciliacao-manual/components/PendentesTable.tsx
  apps/web/src/app/dashboard/frequencia/reconciliacao-manual/components/ReconciliacaoForcadaForm.tsx
  apps/web/src/app/dashboard/frequencia/reconciliacao-manual/components/ReconciliacaoForm.tsx
  apps/web/src/app/dashboard/frequencia/reconciliacao-manual/components/ReconciliacaoResults.tsx
  apps/web/src/app/dashboard/frequencia/reconciliacao-manual/components/ResultadoForcadoCard.tsx
  apps/web/src/app/dashboard/frequencia/reconciliacao-manual/hooks/useReconciliacao.ts
  apps/web/src/app/dashboard/frequencia/reconciliacao-manual/page.tsx
  apps/web/src/lib/actions/admin/forcarReconciliacaoTurnos.ts
  apps/web/src/lib/actions/turno-realizado/reconciliarForcado.ts
  apps/web/src/lib/actions/turno-realizado/reconciliarManual.ts
  apps/web/src/lib/actions/turno/executarReconciliacaoDiaria.ts
  apps/web/src/lib/actions/turno/reconciliarDiaEquipe.ts
  apps/web/src/lib/constants/navigation.tsx
Due: none

reestruturacao dos logs
  apps/api/docs/RECONCILIACAO_INTERNA.md
  apps/api/src/modules/internal-reconciliacao/internal-reconciliacao.service.ts
  apps/api/src/modules/internal-reconciliacao/reconciliacao-db.ts
  apps/api/src/modules/internal-reconciliacao/reconciliacao-processor.ts
  apps/api/src/modules/internal-reconciliacao/reconciliacao.utils.ts
  apps/api/src/modules/internal-reconciliacao/types.ts
Due: eslint --fix, prettier --write

melhorias no processo de reconciliacao forcada de faltas
  apps/web/src/app/dashboard/frequencia/faltas/page.tsx
Due: none

API - otimizacoes e refatoracoes CORS
  apps/api/src/common/utils/cors.spec.ts
  apps/api/src/common/utils/cors.ts
  apps/api/src/config/cors.config.ts
Due: eslint --fix, prettier --write

API - refatoracao cors
  apps/api/README.md
  apps/api/src/common/utils/cors.ts
  apps/api/src/config/validation.spec.ts
  apps/api/src/config/validation.ts
Due: eslint --fix, prettier --write

melhorias no visual
  apps/web/src/app/dashboard/turnos/components/TurnosMatrixTable.tsx
Due: none

melhorias no dash de turnos
  apps/web/src/app/dashboard/turnos/components/TurnosMatrixTable.tsx
Due: none

correções e otimizações
  apps/api/src/database/database.controller.ts
  apps/api/src/database/database.module.ts
  apps/api/src/database/database.service.ts
  apps/api/test/app.e2e-spec.ts
  apps/api/test/jest-e2e.json
Due: eslint --fix, prettier --write

melhoriasno processo do api
  apps/api/src/app.module.ts
  apps/api/src/common/filters/all-exceptions.filter.ts
  apps/api/src/common/interceptors/error-logging.interceptor.ts
  apps/api/src/common/middleware/logger.middleware.ts
  apps/api/src/common/utils/logger.spec.ts
  apps/api/src/common/utils/logger.ts
  apps/api/src/main.ts
  apps/api/src/middleware/index.ts
  apps/api/src/middleware/request-logger.middleware.ts
Due: eslint --fix, prettier --write

correões e rrefatorações ana api
  apps/api/README.md
  apps/api/src/app.module.ts
  apps/api/src/config/env-loader.ts
  apps/api/src/config/index.ts
  apps/api/src/config/validation.spec.ts
  apps/api/src/main.ts
  apps/api/src/modules/engine/auth/strategies/jwt.strategy.spec.ts
  apps/api/src/modules/engine/auth/strategies/jwt.strategy.ts
Due: eslint --fix, prettier --write

correções de logging na api
  apps/api/README.md
  apps/api/src/common/utils/logger.spec.ts
  apps/api/src/common/utils/logger.ts
  apps/api/src/utils/graceful-shutdown.ts
Due: eslint --fix, prettier --write

correcao de erro de cors em producao
  apps/api/src/common/utils/cors.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: apps/api/**/*.{ts,tsx,js,mjs}
  prettier --write: (any of: apps/api/**/*.{ts,tsx,js,mjs}) or (any of: **/*.{json,md,yml,yaml})
