Repository xavierheitor/nexa-oper: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: Implement full management for project pole types (ProjTipoPoste) and structure types (ProjTipoEstrutura).
  apps/web/src/app/dashboard/cadastro/projetos/tipo-estrutura/page.tsx
  apps/web/src/app/dashboard/cadastro/projetos/tipo-poste/page.tsx
  apps/web/src/lib/actions/common/permissionGuard.ts
  apps/web/src/lib/actions/projTipoEstrutura/create.ts
  apps/web/src/lib/actions/projTipoEstrutura/delete.ts
  apps/web/src/lib/actions/projTipoEstrutura/list.ts
  apps/web/src/lib/actions/projTipoEstrutura/update.ts
  apps/web/src/lib/actions/projTipoPoste/create.ts
  apps/web/src/lib/actions/projTipoPoste/delete.ts
  apps/web/src/lib/actions/projTipoPoste/list.ts
  apps/web/src/lib/actions/projTipoPoste/update.ts
  apps/web/src/lib/authz/permissions.ts
  apps/web/src/lib/constants/navigation.tsx
  apps/web/src/lib/repositories/projetos/ProjTipoEstruturaRepository.ts
  apps/web/src/lib/repositories/projetos/ProjTipoPosteRepository.ts
  apps/web/src/lib/schemas/projTipoEstruturaSchema.ts
  apps/web/src/lib/schemas/projTipoPosteSchema.ts
  apps/web/src/lib/services/common/registerServices.ts
  apps/web/src/lib/services/projetos/ProjTipoEstruturaService.ts
  apps/web/src/lib/services/projetos/ProjTipoPosteService.ts
  apps/web/src/ui/pages/dashboard/cadastro/projetos/CatalogoProjetoNomeForm.tsx
  apps/web/src/ui/pages/dashboard/cadastro/projetos/ProjTipoEstruturaPageClient.tsx
  apps/web/src/ui/pages/dashboard/cadastro/projetos/ProjTipoPostePageClient.tsx
Due: none

feat: refine project module with viability flow, separate pole master data, and simplify span model
  docs/09-projetos-programacoes-operacionais.md
  packages/db/prisma/models/atividade.prisma
  packages/db/prisma/models/contrato.prisma
  packages/db/prisma/models/migrations/20260321120524_refine_proj_viabilizacao_postes_vaos/migration.sql
  packages/db/prisma/models/projetos.prisma
Due: prettier --write

feat: Implement ProjetoProgramacao module with full CRUD functionality, dedicated UI pages, and integrated authorization.
  apps/web/src/app/dashboard/projetos/cadastro/page.tsx
  apps/web/src/app/dashboard/projetos/page.tsx
  apps/web/src/lib/actions/common/permissionGuard.ts
  apps/web/src/lib/actions/projetoProgramacao/create.ts
  apps/web/src/lib/actions/projetoProgramacao/delete.ts
  apps/web/src/lib/actions/projetoProgramacao/list.ts
  apps/web/src/lib/actions/projetoProgramacao/update.ts
  apps/web/src/lib/authz/permissions.ts
  apps/web/src/lib/components/AuthGuard.tsx
  apps/web/src/lib/constants/navigation.tsx
  apps/web/src/lib/hooks/useAuth.ts
  apps/web/src/lib/repositories/projetos/ProjetoProgramacaoRepository.ts
  apps/web/src/lib/schemas/projetoProgramacaoSchema.ts
  apps/web/src/lib/services/common/registerServices.ts
  apps/web/src/lib/services/projetos/ProjetoProgramacaoService.ts
  apps/web/src/ui/pages/dashboard/DashboardLayoutClient.tsx
  apps/web/src/ui/pages/dashboard/cadastro/grupo-permissao/form.tsx
  apps/web/src/ui/pages/dashboard/projetos/ProjetoProgramacaoForm.tsx
  apps/web/src/ui/pages/dashboard/projetos/ProjetoProgramacaoPageClient.tsx
Due: none

feat: Add project viability assessment module and sync collections for related data.
  apps/api/src/app.module.ts
  apps/api/src/contracts/projeto/projeto-viabilizacao.contract.ts
  apps/api/src/modules/projetos/application/use-cases/list-projetos-para-viabilizacao.use-case.ts
  apps/api/src/modules/projetos/dto/projeto-viabilizacao.dto.ts
  apps/api/src/modules/projetos/projeto-viabilizacao.query.ts
  apps/api/src/modules/projetos/projetos.controller.ts
  apps/api/src/modules/projetos/projetos.module.ts
  apps/api/src/modules/projetos/projetos.service.ts
  apps/api/src/modules/sync/sync-collection.types.ts
  apps/api/src/modules/sync/sync-collections.def.ts
  apps/api/src/modules/sync/sync.controller.ts
Due: eslint --fix, prettier --write

feat: Introduce `projeto-viabilizacao-poste` evidence type with a dedicated handler and updated upload service mappings.
  apps/api/src/modules/upload/dto/upload-request.dto.ts
  apps/api/src/modules/upload/evidence/projeto-viabilizacao-poste.handler.ts
  apps/api/src/modules/upload/evidence/upload-evidence-link.service.ts
  apps/api/src/modules/upload/upload.module.ts
Due: eslint --fix, prettier --write

feat: Implement project viability validation and technical scope (posts, spans) management.
  apps/api/src/contracts/projeto/projeto-viabilizacao.contract.ts
  apps/api/src/modules/projetos/dto/projeto-viabilizacao.dto.ts
  apps/api/src/modules/projetos/projeto-viabilizacao.query.ts
  apps/api/src/modules/projetos/projetos.controller.ts
  docs/09-projetos-programacoes-operacionais.md
  packages/db/prisma/models/migrations/20260323115616_add_proj_validacao_viabilizacao/migration.sql
  packages/db/prisma/models/projetos.prisma
Due: eslint --fix, prettier --write

docs: add mobile contract documentation and update prisma models to support project viability features
  docs/09-projetos-programacoes-operacionais.md
  docs/10-contrato-mobile-projetos-viabilizacao.md
  docs/README.md
  packages/db/prisma/models/atividade.prisma
  packages/db/prisma/models/auth_mobile.prisma
  packages/db/prisma/models/auth_web.prisma
  packages/db/prisma/models/contrato.prisma
  packages/db/prisma/models/projetos.prisma
  packages/db/prisma/models/projetos2.prisma
  packages/db/prisma/models/turno.prisma
Due: prettier --write

feat: implement project programs management module and remove status field from project schema
  apps/web/src/app/dashboard/cadastro/projetos/programas/page.tsx
  apps/web/src/lib/constants/navigation.tsx
  apps/web/src/lib/schemas/projProjetoSchema.ts
  apps/web/src/lib/services/projetos/ProjProjetoService.ts
  apps/web/src/ui/pages/dashboard/cadastro/projetos/ProjProgramaPageClient.tsx
  apps/web/src/ui/pages/dashboard/projetos/ProjProjetoForm.tsx
Due: none

refactor: remove program management module from project registration page and update navigation permissions
  apps/web/src/app/dashboard/projetos/cadastro/page.tsx
  apps/web/src/lib/actions/common/permissionGuard.ts
  apps/web/src/lib/actions/projPrograma/create.ts
  apps/web/src/lib/actions/projPrograma/delete.ts
  apps/web/src/lib/actions/projPrograma/list.ts
  apps/web/src/lib/actions/projPrograma/update.ts
  apps/web/src/lib/authz/permissions.ts
  apps/web/src/lib/constants/navigation.tsx
  apps/web/src/ui/pages/dashboard/projetos/ProjetoCadastroPageClient.tsx
Due: none

refactor: update projeto viabilizacao contracts, DTOs, and evidence handler to support new status and data structures
  apps/api/src/contracts/projeto/projeto-viabilizacao.contract.ts
  apps/api/src/modules/projetos/dto/projeto-viabilizacao.dto.ts
  apps/api/src/modules/projetos/projeto-viabilizacao.query.ts
  apps/api/src/modules/projetos/projetos.controller.ts
  apps/api/src/modules/sync/sync-collection.types.ts
  apps/api/src/modules/sync/sync-collections.def.ts
  apps/api/src/modules/upload/evidence/projeto-viabilizacao-poste.handler.ts
Due: eslint --fix, prettier --write

feat: add projeto-estrutura to sync collection definitions and controller enum
  apps/api/src/modules/sync/sync-collections.def.ts
  apps/api/src/modules/sync/sync.controller.ts
Due: eslint --fix, prettier --write

feat: implement APR measure of control module and add dependency tracking to response options
  apps/api/src/contracts/atividade-upload/atividade-upload.contract.ts
  apps/api/src/modules/atividade-upload/atividade-upload.service.spec.ts
  apps/api/src/modules/atividade-upload/atividade-upload.service.ts
  apps/api/src/modules/atividade-upload/dto/atividade-upload.dto.ts
  apps/api/src/modules/sync/sync-collection.types.ts
  apps/api/src/modules/sync/sync-collections.def.ts
  apps/web/src/app/dashboard/cadastro/apr-medida-controle/page.tsx
  apps/web/src/lib/actions/aprMedidaControle/create.ts
  apps/web/src/lib/actions/aprMedidaControle/delete.ts
  apps/web/src/lib/actions/aprMedidaControle/list.ts
  apps/web/src/lib/actions/aprMedidaControle/update.ts
  apps/web/src/lib/constants/navigation.tsx
  apps/web/src/lib/repositories/apr/AprGrupoPerguntaRepository.ts
  apps/web/src/lib/repositories/apr/AprMedidaControleRepository.ts
  apps/web/src/lib/schemas/aprGrupoPerguntaSchema.ts
  apps/web/src/lib/schemas/aprMedidaControleSchema.ts
  apps/web/src/lib/schemas/aprOpcaoRespostaSchema.ts
  apps/web/src/lib/services/apr/AprGrupoPerguntaService.ts
  apps/web/src/lib/services/apr/AprMedidaControleService.ts
  apps/web/src/lib/services/apr/AprOpcaoRespostaService.ts
  apps/web/src/lib/services/common/registerServices.ts
  apps/web/src/ui/pages/dashboard/cadastro/AprGrupoPerguntaPageClient.tsx
  apps/web/src/ui/pages/dashboard/cadastro/AprMedidaControlePageClient.tsx
  apps/web/src/ui/pages/dashboard/cadastro/AprOpcaoRespostaPageClient.tsx
  apps/web/src/ui/pages/dashboard/cadastro/apr-grupo-pergunta/form.tsx
  apps/web/src/ui/pages/dashboard/cadastro/apr-medida-controle/form.tsx
  apps/web/src/ui/pages/dashboard/cadastro/apr-opcao-resposta/form.tsx
  nomes.txt
  packages/db/prisma/models/apr.prisma
  packages/db/prisma/models/atividade.prisma
  packages/db/prisma/models/migrations/20260406224500_apr_medidas_controle_pendencia/migration.sql
Due: eslint --fix, prettier --write

refactor: update EletricistaRepository to use relation connects and hide status field in edit mode
  apps/web/src/lib/repositories/pessoas/EletricistaRepository.ts
  apps/web/src/ui/pages/dashboard/cadastro/eletricista/form.tsx
Due: none

feat: add optional textoLivre field to AtividadeAprRespostaMedidaControle and enforce validation when selecting "Outras"
  apps/api/src/contracts/atividade-upload/atividade-upload.contract.ts
  apps/api/src/modules/atividade-upload/atividade-upload.service.spec.ts
  apps/api/src/modules/atividade-upload/atividade-upload.service.ts
  apps/api/src/modules/atividade-upload/dto/atividade-upload.dto.ts
  packages/db/prisma/models/atividade.prisma
  packages/db/prisma/models/migrations/20260411231000_add_texto_livre_to_atividade_apr_resposta_medida_controle/migration.sql
Due: eslint --fix, prettier --write

feat: add support for displaying activity control measures in execution details modal
  apps/web/src/lib/actions/atividade/getExecucaoDetalhe.ts
  apps/web/src/lib/types/atividadeDashboard.ts
  apps/web/src/ui/pages/dashboard/atividades/AtividadeExecucaoDetalhesModal.tsx
Due: none

feat: implement mobile app version gating for login and turno opening use cases
  .env.example
  apps/api/src/contracts/auth/auth.contract.ts
  apps/api/src/contracts/turno/abrir-turno.contract.ts
  apps/api/src/core/config/env.ts
  apps/api/src/core/mobile-app-version/mobile-app-version-gate.service.spec.ts
  apps/api/src/core/mobile-app-version/mobile-app-version-gate.service.ts
  apps/api/src/modules/auth/application/use-cases/login.use-case.spec.ts
  apps/api/src/modules/auth/application/use-cases/login.use-case.ts
  apps/api/src/modules/auth/auth.module.ts
  apps/api/src/modules/auth/dto/login.dto.ts
  apps/api/src/modules/turno/application/use-cases/open-turno.use-case.spec.ts
  apps/api/src/modules/turno/application/use-cases/open-turno.use-case.ts
  apps/api/src/modules/turno/dto/abrir-turno.dto.ts
  apps/api/src/modules/turno/turno.module.ts
Due: eslint --fix, prettier --write

feat: implement mobile app version management with database schema, API endpoints, and bypassable response envelope
  README.md
  apps/api/src/app.module.ts
  apps/api/src/core/http/decorators/bypass-envelope.decorator.ts
  apps/api/src/core/http/interceptors/response-envelope.interceptor.ts
  apps/api/src/modules/mobile-app-version/dto/mobile-app-version.dto.ts
  apps/api/src/modules/mobile-app-version/mobile-app-version-public.controller.ts
  apps/api/src/modules/mobile-app-version/mobile-app-version.controller.ts
  apps/api/src/modules/mobile-app-version/mobile-app-version.module.ts
  apps/api/src/modules/mobile-app-version/mobile-app-version.service.ts
  apps/api/src/modules/upload/upload.module.ts
  apps/web/src/app/api/mobile-app-version/[id]/route.ts
  apps/web/src/app/api/mobile-app-version/route.ts
  apps/web/src/app/dashboard/cadastro/mobile-app-version/page.tsx
  apps/web/src/lib/constants/navigation.tsx
  apps/web/src/ui/pages/dashboard/cadastro/mobile-app-version/MobileAppVersionPageClient.tsx
  fix-db.mjs
  packages/db/prisma/models/mobile-app-version.prisma
Due: eslint --fix, prettier --write

feat: implement automated shift reconciliation job to identify and flag missing attendance records
  README.md
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/core/config/env.ts
  apps/api/src/modules/turno/jobs/turno-escala-reconcile.job.ts
  apps/api/src/modules/turno/turno.module.ts
  docs/02-configuracao-env.md
  docs/08-reconciliacao-turnos-escala.md
  package-lock.json
Due: eslint --fix, prettier --write

fix: enhance error handling in authentication process and improve user feedback on login failures
  TESTE.TXT
  apps/web/src/lib/utils/auth.config.ts
  apps/web/src/ui/pages/auth/LoginPageClient.tsx
Due: none

refactor: remove unused database session and fix-db scripts, update mobile app version model and service to include new fields and logic
  TESTE.TXT
  apps/api/src/modules/mobile-app-version/dto/mobile-app-version.dto.ts
  apps/api/src/modules/mobile-app-version/mobile-app-version.service.ts
  db.session.sql
  fix-db.mjs
  nomes.txt
  packages/db/prisma/models/migrations/20260610120000_extend_mobile_app_version_policy/migration.sql
  packages/db/prisma/models/mobile-app-version.prisma
Due: eslint --fix, prettier --write

feat: enhance mobile app version management by adding new fields for build, wipe requirements, and minimum supported builds; improve error handling and user feedback in the upload process
  apps/web/src/app/api/mobile-app-version/route.ts
  apps/web/src/ui/pages/dashboard/cadastro/mobile-app-version/MobileAppVersionPageClient.tsx
Due: none

feat: add manifest endpoint to mobile app version controller and implement manifest retrieval logic in service, including platform normalization and detailed version information
  apps/api/src/modules/mobile-app-version/mobile-app-version-public.controller.ts
  apps/api/src/modules/mobile-app-version/mobile-app-version.service.spec.ts
  apps/api/src/modules/mobile-app-version/mobile-app-version.service.ts
Due: eslint --fix, prettier --write

docs: add new documentation for mobile auto-update process and update maintenance policy to include guide 11
  docs/11-mobile-auto-update.md
  docs/README.md
Due: prettier --write

feat: extend login DTO and auth contract with new optional fields for build version and device identifier
  apps/api/src/contracts/auth/auth.contract.ts
  apps/api/src/modules/auth/dto/login.dto.ts
  apps/api/src/modules/sync/sync-collections.def.ts
  apps/api/src/modules/sync/sync.controller.ts
  apps/api/src/modules/upload/evidence/upload-evidence-link.service.ts
Due: eslint --fix, prettier --write

feat: enhance atividade upload service with new handling for "Outros" control measures and improve evidence upload logic across multiple handlers
  apps/api/src/modules/atividade-upload/atividade-upload.service.spec.ts
  apps/api/src/modules/atividade-upload/atividade-upload.service.ts
  apps/api/src/modules/upload/evidence/checklist-assinatura.handler.ts
  apps/api/src/modules/upload/evidence/checklist-reprova.handler.ts
  apps/api/src/modules/upload/evidence/projeto-viabilizacao-poste.handler.ts
  apps/api/src/modules/upload/evidence/upload-evidence-link.service.ts
Due: eslint --fix, prettier --write

feat: update atividade upload service to allow persistence of APR responses without selected control measures and improve validation logic for control measures
  apps/api/src/modules/atividade-upload/atividade-upload.service.spec.ts
  apps/api/src/modules/atividade-upload/atividade-upload.service.ts
Due: eslint --fix, prettier --write

feat: add permissions handling to login and refresh token use cases, update auth contract and related tests to support new module permissions
  apps/api/src/contracts/auth/auth.contract.ts
  apps/api/src/modules/auth/application/use-cases/login.use-case.spec.ts
  apps/api/src/modules/auth/application/use-cases/login.use-case.ts
  apps/api/src/modules/auth/application/use-cases/refresh-token.use-case.spec.ts
  apps/api/src/modules/auth/application/use-cases/refresh-token.use-case.ts
  apps/api/src/modules/auth/application/use-cases/validate-auth-user.use-case.spec.ts
  apps/api/src/modules/auth/domain/ports/auth-session-repository.port.ts
  apps/api/src/modules/auth/services/auth.service.ts
  apps/web/src/app/dashboard/cadastro/modulo-mobile/page.tsx
  apps/web/src/lib/actions/mobileModule/create.ts
  apps/web/src/lib/actions/mobileModule/delete.ts
  apps/web/src/lib/actions/mobileModule/list.ts
  apps/web/src/lib/actions/mobileModule/update.ts
  apps/web/src/lib/actions/mobileUserModulePermission/list.ts
  apps/web/src/lib/actions/mobileUserModulePermission/set.ts
  apps/web/src/lib/constants/navigation.tsx
  apps/web/src/lib/schemas/mobileModuleSchema.ts
  apps/web/src/ui/pages/dashboard/cadastro/MobileModulePageClient.tsx
  apps/web/src/ui/pages/dashboard/cadastro/mobile-module/form.tsx
  apps/web/src/ui/pages/dashboard/cadastro/usuario-mobile/permissoesModal.tsx
  packages/db/prisma/models/auth_mobile.prisma
  packages/db/prisma/models/migrations/20260621120000_add_mobile_modules_permissions/migration.sql
Due: eslint --fix, prettier --write

feat: introduce new location fields and event categorization in atividade and location upload contracts, enhance parsing and DTOs for improved data handling
  apps/api/src/contracts/atividade-upload/atividade-upload.contract.ts
  apps/api/src/contracts/localizacao/location-upload.contract.ts
  apps/api/src/modules/atividade-upload/atividade-upload.service.ts
  apps/api/src/modules/atividade-upload/dto/atividade-upload.dto.ts
  apps/api/src/modules/localizacao/application/normalize-location-upload.spec.ts
  apps/api/src/modules/localizacao/application/normalize-location-upload.ts
  apps/api/src/modules/localizacao/application/use-cases/upload-location.use-case.spec.ts
  apps/api/src/modules/localizacao/application/use-cases/upload-location.use-case.ts
  apps/api/src/modules/localizacao/domain/ports/location-upload-repository.port.ts
  apps/api/src/modules/localizacao/dto/location-upload.dto.ts
  apps/api/src/modules/localizacao/localizacao.service.ts
  packages/db/prisma/models/atividade.prisma
  packages/db/prisma/models/migrations/20260621130000_add_location_event_and_apr_inicio_fields/migration.sql
  packages/db/prisma/models/mobile-upload.prisma
Due: eslint --fix, prettier --write

feat: implement checklist synchronization for turno opening, adding new environment variables and enhancing the activity upload service to manage checklist processing status
  .env.example
  apps/api/src/contracts/turno/abrir-turno.contract.ts
  apps/api/src/core/config/env.ts
  apps/api/src/core/database/prisma-error.util.spec.ts
  apps/api/src/core/database/prisma-error.util.ts
  apps/api/src/modules/atividade-upload/atividade-upload.service.ts
  apps/api/src/modules/localizacao/application/use-cases/upload-location.use-case.spec.ts
  apps/api/src/modules/localizacao/application/use-cases/upload-location.use-case.ts
  apps/api/src/modules/localizacao/domain/ports/location-upload-repository.port.ts
  apps/api/src/modules/localizacao/localizacao.service.ts
  apps/api/src/modules/turno/application/use-cases/open-turno.use-case.spec.ts
  apps/api/src/modules/turno/application/use-cases/open-turno.use-case.ts
  apps/api/src/modules/turno/checklist-preenchido/checklist-preenchido.service.ts
  apps/api/src/modules/turno/checklist-preenchido/turno-checklist-sync-queue.service.spec.ts
  apps/api/src/modules/turno/checklist-preenchido/turno-checklist-sync-queue.service.ts
  apps/api/src/modules/turno/jobs/turno-checklist-sync.job.ts
  apps/api/src/modules/turno/turno.module.ts
  packages/db/prisma/models/checklist-preenchido.prisma
  packages/db/prisma/models/migrations/20260621140000_add_turno_checklist_sync_queue/migration.sql
  packages/db/prisma/models/turno.prisma
Due: eslint --fix, prettier --write

feat: add new fields for APR details and enhance TurnoAtividadesModal with visualização functionality for APRs
  apps/web/src/lib/actions/atividade/getAprPreenchidaDetalhe.ts
  apps/web/src/lib/types/atividadeDashboard.ts
  apps/web/src/ui/components/AprPreenchidaDetalheContent.tsx
  apps/web/src/ui/components/AprRespostasAgrupadas.tsx
  apps/web/src/ui/components/AtividadeAprPreenchidaDetalhesModal.tsx
  apps/web/src/ui/components/TurnoAtividadesModal.tsx
  apps/web/src/ui/pages/dashboard/atividades/AtividadeExecucaoDetalhesModal.tsx
Due: none

feat: improve APR handling by adding new fields for detailed tracking and enhancing 2TurnoAtividadesModal with improved visualization features
  packages/db/prisma/models/migrations/20260610115959_create_mobile_app_version_table/migration.sql
Due: none

feat: enhance APR tracking by adding new fields and improving visualization in 2TurnoAtividadesModal
  packages/db/prisma/models/migrations/20260626120000_align_proj_viabilizacao_schema/migration.sql
Due: none

feat: update environment configuration and deployment scripts, enhance documentation for production setup, and improve .env.example with detailed usage instructions
  .env.example
  apps/api/.env.example
  apps/web/.env.example
  apps/web/.gitignore
  deploy/production/api.env.template
  deploy/production/db.env.template
  deploy/production/deploy.sh
  deploy/production/install-env.sh
  deploy/production/web.env.local.template
  docs/07-deploy-producao-pm2.md
  ecosystem.config.js
  package.json
  packages/db/.env.example
Due: prettier --write

feat: add server diagnostics snapshot command and update .gitignore to exclude diagnostics files
  .gitignore
  diagnostics/.gitkeep
  package.json
  scripts/server-snapshot/collectors/build.ts
  scripts/server-snapshot/collectors/certificates.ts
  scripts/server-snapshot/collectors/database.ts
  scripts/server-snapshot/collectors/disk.ts
  scripts/server-snapshot/collectors/ecosystem.ts
  scripts/server-snapshot/collectors/env-files.ts
  scripts/server-snapshot/collectors/general.ts
  scripts/server-snapshot/collectors/git.ts
  scripts/server-snapshot/collectors/logs.ts
  scripts/server-snapshot/collectors/nginx.ts
  scripts/server-snapshot/collectors/node-info.ts
  scripts/server-snapshot/collectors/package-json.ts
  scripts/server-snapshot/collectors/pm2.ts
  scripts/server-snapshot/collectors/ports.ts
  scripts/server-snapshot/collectors/problems-summary.ts
  scripts/server-snapshot/collectors/uploads.ts
  scripts/server-snapshot/index.ts
  scripts/server-snapshot/types.ts
  scripts/server-snapshot/utils/env-parse.ts
  scripts/server-snapshot/utils/fs-helpers.ts
  scripts/server-snapshot/utils/mask.ts
  scripts/server-snapshot/utils/shell.ts
Due: prettier --write

refactor: simplify MobileAppVersionPageClient import and update prisma generate scripts to suppress hints
  apps/web/src/app/dashboard/cadastro/mobile-app-version/page.tsx
  packages/db/package.json
Due: prettier --write

feat: add mobile app version permissions and update API routes for authorization checks
  apps/web/src/app/api/mobile-app-version/[id]/route.ts
  apps/web/src/app/api/mobile-app-version/route.ts
  apps/web/src/lib/actions/common/permissionGuard.ts
  apps/web/src/lib/authz/permissions.ts
  apps/web/src/lib/authz/registry-access.ts
  apps/web/src/lib/constants/navigation.tsx
Due: none

feat: implement APK upload size limits and enhance error handling for large file uploads
  apps/web/next.config.ts
  apps/web/src/app/api/mobile-app-version/route.ts
  apps/web/src/ui/pages/dashboard/cadastro/mobile-app-version/MobileAppVersionPageClient.tsx
  deploy/production/nginx-upload-limits.snippet
  docs/07-deploy-producao-pm2.md
Due: prettier --write

chore(release): v1.2.0 — versões mobile, APR, deploy e permissões
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: apps/api/**/*.{ts,tsx,js,mjs}
  prettier --write: (any of: apps/api/**/*.{ts,tsx,js,mjs}) or (any of: **/*.{json,md,yml,yaml})
